#pop-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	top: 0;
	left: 0;
	opacity: .7;
    transform: translate3d(0, 0, 0);
	z-index: 5000;
}

#pop-dialogs {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6000;
	.pop-mod {
		margin-left: -144px;
		position: absolute;
		left: 50%;
	}
}

.pop-mod {
	width: 288px;
	margin: 0 auto;
	position: relative;
	z-index: 6000;
	background: #f5f5f5;
	-webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
	.pop-hd {
		height: 44px;
		line-height: 44px;
		font-size: pxToRem(20);
		padding: 0 6px;
		overflow: hidden;
		color: #555;
		background: #e2e2e2;
		text-align: center;
	}
	.pop-bd {
		min-height: 54px;
		overflow: hidden;
	}
	.pop-ft {
		height: 38px;
		width: 100%;
		padding: 0;
		table-layout: fixed;
		display: table;
		border-collapse: collapse;
		overflow: hidden;
		span {
			height: 38px;
			line-height: 40px;
			font-size: pxToRem(18);
			display: table-cell;
			float: none;
			text-align: center;
			background: none;
			cursor: pointer;
			border: 1px solid #ddd;
			color: #555;
		  	a {
				color: #555;
				display: block;
		  	}
		}
	}
	.pop-close {
		top: 0;
		right: 0;
		position: absolute;
		display: block;
		padding: 6px;
		i{
			display: block;
			width: 24px;
			height: 24px;
            font-size: 24px;
            color: #888;
		}
	}
	.pop-msg {
		padding: 40px 14px 30px;
		font-size: pxToRem(16);
		line-height: 22px;
		text-align: center;
		color: #555;
		word-break: break-all;
		a {
		  color: #ffae00;
		}
	}
	.pop-loading {
		min-height: 112px;
		background: url('../img/loading.gif') no-repeat 50% 50%;
	}
}