/*slider基础样式*/

/*slider_normal*/
.m-slider{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.m-slider__wrap{
	@include clearfix();
	a{
		float: left;
		position: relative;
		text-align: center;
	}
	img{
		width: 100%;
		display: block;
	}
} 

.m-slider__trigger{
	position: absolute;
	bottom: 10px;
	right: 10px;
	>li{
		width: 8px;
		height: 8px;
		float: left;
		margin-right: 4px;
		background-color: #fff;
		&.current{
			background-color: #3D9DEE;
		}
	}
}

/*slider_loop*/
.m-sliderloop{
	overflow: hidden;
	background-color: #000;
}
.m-sliderloop-wrap{
	width: 320px;
	margin: 0 auto;
	overflow: visible;
	position:relative;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	z-index:1;
}
.m-sliderloop-scroll{
	background: #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	-ms-box-pack: left;
	box-pack: left;
	-webkit-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);

	position:relative;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
	.m-slider-con{
		width: 320px;
	    height: 158px;
	    opacity: 0.4;
	    display: block;
		text-align: -webkit-match-parent;
		a{
			display: block;
			position: relative;
			height: 158px;
		}
		img{
			vertical-align: top;
			width: 320px;
			height: 158px;
			border: 0;
		}
		&.current{
			opacity: 1;
		}
	}
}
