@charset "utf-8";

/*
 * @file: 进度条基础UI组件
 * @update: 2015-06-03 16:21:04
 */

/*
 * 默认面板
 * @base
 */
$progress-height: 24px;

.ui-progress {
    overflow: hidden;
    height: $progress-height;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.ui-progress__bar {
    float: left;
    width: 0;
    height: 100%;
    line-height: $progress-height;
    text-align: center;
    color: #fff;
    background-color: #0097d6;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
