<div class="ZQ-row">
	<div class="ZQ-71-51">
		<!-- section - 1{ -->
		<div class="ZQ-box index-gameguide">
			<div class="box-hd">
				<h3 class="title">推荐攻略</h3>
				<div class="act">
					<span class="links">
						<a href="">链接1</a>
						<a href="">链接2</a>
						<a href="">链接3</a>
						<a href="">链接4</a>
					</span>
					<a class="more" href="#"><i></i>更多</a>
				</div>
			</div>
			<div class="box-bd">
				<div class="ZQ-row no-margin">
					<div class="ZQ-71-25">
						<!-- 职业攻略{ -->
						<div class="guide-box job-guide">
							<div class="guide-box__hd">
								<h4>职业攻略</h4>
							</div>
							<div class="guide-box__bd">
								<ul class="game-role">
									<li><a href="">
										<img src="http://art.yypm.com/80x80" alt="">
										<div class="desc">黑暗元首</div>
									</a></li>
									<li><a href="">
										<img src="http://art.yypm.com/80x80" alt="">
										<div class="desc">黑暗元首</div>
									</a></li>
									<li><a href="">
										<img src="http://art.yypm.com/80x80" alt="">
										<div class="desc">黑暗元首</div>
									</a></li>
									<li><a href="">
										<img src="http://art.yypm.com/80x80" alt="">
										<div class="desc">黑暗元首</div>
									</a></li>
									<li><a href="">
										<img src="http://art.yypm.com/80x80" alt="">
										<div class="desc">黑暗元首</div>
									</a></li>
									<li><a href="">
										<img src="http://art.yypm.com/80x80" alt="">
										<div class="desc">黑暗元首</div>
									</a></li>
									<li><a href="">
										<img src="http://art.yypm.com/80x80" alt="">
										<div class="desc">黑暗元首</div>
									</a></li>
									<li><a href="">
										<img src="http://art.yypm.com/80x80" alt="">
										<div class="desc">黑暗元首</div>
									</a></li>
									<li><a href="">
										<img src="http://art.yypm.com/80x80" alt="">
										<div class="desc">黑暗元首</div>
									</a></li>
									<li><a href="">
										<img src="http://art.yypm.com/80x80" alt="">
										<div class="desc">黑暗元首</div>
									</a></li>
									<li><a href="">
										<img src="http://art.yypm.com/80x80" alt="">
										<div class="desc">黑暗元首</div>
									</a></li>
								</ul>
							</div>
						</div>
						<!-- }职业攻略 -->
						<!-- 所有副本{ -->
						<div class="guide-box all-copy">
							<div class="guide-box__hd">
								<h4>所有副本</h4>
							</div>
							<div class="guide-box__bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">龙脊地狱所龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">探险家</a></li>
									<li><i></i><a href="#" title="">鲸鱼庄园</a></li>
									<li><i></i><a href="#" title="">龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">龙脊地狱所龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">探险家</a></li>
									<li><i></i><a href="#" title="">鲸鱼庄园</a></li>
									<li><i></i><a href="#" title="">龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">龙脊地狱所龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">探险家</a></li>
									<li><i></i><a href="#" title="">鲸鱼庄园</a></li>
									<li><i></i><a href="#" title="">龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">龙脊地狱所龙脊地狱所</a></li>
									<li><i></i><a href="#" title="">探险家</a></li>
									<li><i></i><a href="#" title="">鲸鱼庄园</a></li>
									<li><i></i><a href="#" title="">鲸鱼庄园</a></li>
								</ul>
							</div>
						</div>
						<!-- }所有副本 -->
					</div>
					<div class="ZQ-71-25">
						<!-- 副本攻略{ -->
						<div class="guide-box copy-guide">
							<div class="guide-box__hd">
								<h4>副本攻略</h4>
							</div>
							<div class="guide-box__bd">
								<ul class="mod-pic">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/112x78" alt="">
										<em>英雄联盟英雄卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/112x78" alt="">
										<em>英雄联盟英雄卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/112x78" alt="">
										<em>英雄联盟英雄卡牌大师崔斯特</em>
									</a></li>
								</ul>
								<ul class="guide-list">
									<li>
										<span class="label">35-45级</span><a href="">龙脊地狱所</a><a href="">帝国南方堡</a><a href="">无限城古堡攻</a>
									</li>
									<li>
										<span class="label">35-45级</span><a href="">龙脊地狱所</a><a href="">帝国南方堡</a><a href="">无限城古堡攻</a>
									</li>
									<li>
										<span class="label">35-45级</span><a href="">龙脊地狱所</a><a href="">帝国南方堡</a><a href="">无限城古堡攻</a>
									</li>
									<li>
										<span class="label">35-45级</span><a href="">龙脊地狱所</a><a href="">帝国南方堡</a><a href="">无限城古堡攻</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- }副本攻略 -->
						<!-- 讨伐攻略{ -->
						<div class="guide-box copy-guide copy-guide-bottom">
							<div class="guide-box__hd">
								<h4>讨伐攻略</h4>
							</div>
							<div class="guide-box__bd">
								<ul class="mod-pic">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/112x78" alt="">
										<em>英雄联盟英雄卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/112x78" alt="">
										<em>英雄联盟英雄卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/112x78" alt="">
										<em>英雄联盟英雄卡牌大师崔斯特</em>
									</a></li>
								</ul>
								<ul class="guide-list">
									<li>
										<span class="label">35-45级</span><a href="">龙脊地狱所</a><a href="">帝国南方堡</a><a href="">无限城古堡攻</a>
									</li>
									<li>
										<span class="label">35-45级</span><a href="">龙脊地狱所</a><a href="">帝国南方堡</a><a href="">无限城古堡攻</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- }讨伐攻略 -->
					</div>
				</div>
			</div>
		</div>
		<!-- }section - 1 -->
	</div>
	<!-- section - 2{ -->
	<div class="ZQ-71-19">
		<div class="ZQ-box ZQ-channal-data">
			<div class="box-hd">
				<h3 class="title">专区资料</h3>
				<div class="act">
					<a class="more" href="#"><i></i>更多</a>
				</div>
			</div>
			<div class="box-bd">
				<!-- 资料list{ -->
				<div class="data-list">
					<span class="label">新手必备</span>
					<a href="">创建人物</a>
					<a href="">基础操作</a>
					<a href="">种族介绍</a>
					<a href="">城镇介绍</a>
					<a href="">地图介绍</a>
					<a href="">行军令</a>
					<a href="">创建人物</a>
					<a href="">基础操作</a>
					<a href="">种族介绍</a>
					<a href="">城镇介绍</a>
					<a href="">地图介绍</a>
					<a href="">行军令</a>
				</div>
				<!-- }资料list -->
				<!-- 资料list{ -->
				<div class="data-list">
					<span class="label">新手必备</span>
					<a href="">创建人物</a>
					<a href="">基础操作</a>
					<a href="">种族介绍</a>
					<a href="">城镇介绍</a>
					<a href="">地图介绍</a>
					<a href="">行军令</a>
					<a href="">创建人物</a>
					<a href="">基础操作</a>
					<a href="">种族介绍</a>
					<a href="">城镇介绍</a>
					<a href="">地图介绍</a>
					<a href="">行军令</a>
				</div>
				<!-- }资料list -->
				<!-- 资料list{ -->
				<div class="data-list">
					<span class="label">新手必备</span>
					<a href="">创建人物</a>
					<a href="">基础操作</a>
					<a href="">种族介绍</a>
					<a href="">城镇介绍</a>
					<a href="">地图介绍</a>
					<a href="">行军令</a>
					<a href="">创建人物</a>
					<a href="">基础操作</a>
					<a href="">种族介绍</a>
					<a href="">城镇介绍</a>
					<a href="">地图介绍</a>
					<a href="">行军令</a>
					<a href="">创建人物</a>
					<a href="">基础操作</a>
					<a href="">种族介绍</a>
					<a href="">城镇介绍</a>
					<a href="">地图介绍</a>
					<a href="">行军令</a>
					<a href="">基础操作</a>
					<a href="">种族介绍</a>
					<a href="">城镇介绍</a>
					<a href="">地图介绍</a>
					<a href="">行军令</a>
				</div>
				<!-- }资料list -->
			</div>
		</div>
	</div>
	<!-- }section - 2 -->
</div>