
/* 列表 */

.m-list{

}
.m-list__item{
	position: relative;
	line-height: 44px;
	height: 44px;
	border-bottom: 1px solid #E4E4E4;
	&:last-child{
		border: none;
	}
	>a{
		height:44px; line-height: 44px; 
		padding-left:10px;
		display: block;
		color:#333;
	}
}

.m-list__label{
	background-color: #F5F5F5; 
	height: 24px; 
	line-height: 24px; 
	font-size: pxToRem(10);
	padding-left: 10px; 
	border-bottom: 1px solid #E4E4E4;
	color: #666666;
}

/* 带箭头列表 */
.m-list--chevron{
	font-family: "lego";
	>.m-list__item::before{
		content: "\e63f";
		position: absolute;
		top: 0;
		right: 10px;
		color: #666666;
	}
}

.m-list--chevron{
	>.visited:before{
		color: #C5C5C5;
	}
}

/* 带数字列表 */
.m-list--number{
	.m-list__item{
		>a{
			&::before{
				position: absolute; 
				right: 10px; 
				top: 50%;
				margin-top: -10px;
				padding: 0px 7px;
				height: 20px;
				line-height: 20px;
				color: #fff;
				font-size: pxToRem(12);
				background-color: #FF8800;
				content: attr(data-number);
			}
		}
	}
}

/* 带开关按钮列表 */
.m-list--toggle{
	>li{
		padding-left: 10px;
	}
	.u-toggle{
		position: absolute; 
		top: 50%; 
		right: 10px; 
		margin-top:-15px;
	}
}

/* 新闻列表 */

.m-newslist__item{
	border-bottom: 1px solid #E4E4E4;
	&:last-child{
		border-bottom: none;
	}
	>a{
		display: block;
		padding: 10px;
		@include clearfix;
		&:active{
			background-color: #FbF9F9;
		}
	}
	img{
		float: left;
		margin-right: 10px;
		width: 80px;
		height: 60px;
	}
}

.m-newslist__item__cont{
	overflow: hidden;
	>h3{
		font-size: pxToRem(13);
		color: #333;
		margin-bottom: 8px;
		line-height: 1.5em;
	}
	>p{
		color: #999;
		font-size: pxToRem(11);
	}
}






