@charset "utf-8";
/*
 * @file: LegoUI for pc 基础设施
 * @update: 2015-06-03 17:28:19
 */

@import "variable"; // 变量配置
@import "mixins";
@import "normalize";
@import "reset"; // 重置
@import "print"; // 打印

