@charset "utf-8";

/*
 * @file: table表格基础UI组件
 * @update: 2015-05-03 13:45:51
 */

/*
 * 默认表格
 * @base
 */
$font-size: 12px; // 表格字号
$cell-padding: 8px; // 单元格padding
$border-color: #d2d2d2; // 边框颜色
$th-font-wieght: 700; // 表头加粗
$striped-bg: #f9f9f9; // 隔行变色的背景色
$tr-hover-bg: #f9f9f9; // hover变色的背景色

.ui-table {
	width: 100%;
	font-size: $font-size;
	th,
	td {
		padding: $cell-padding;
	}
	th {
		text-align: left;
		font-weight: $th-font-wieght;
	}
}

/*
 * 有边框的表格
 * @extend: border
 */
.ui-table {
	&.ext-border {
		th,
		td {
			border: 1px solid $border-color;
		}
	}
}

/*
 * 隔行变色表格
 * @extend: striped
 */
.ui-table {
	&.ext-striped {
		tbody tr:nth-child(even) td {
			background-color: $striped-bg;
		}
	}

}

/*
 * hover变色表格
 * @extend: hover
 */
.ui-table {
	&.ext-hover {
		tbody tr:hover {
			background-color: $tr-hover-bg;
		}
	}
}
