@charset "utf-8";
/*
 *@name:   徽章基础UI组件
 *@update: 2014-11-30 15:03:02
 */
 
/* ===基类=== */

.ui-badge {
    @include inline-block;
    min-width: 10px;
    padding: 3px 6px;
    line-height: 1;
    text-align: center;
}
.ui-badge--radius {
    border-radius: 3px;
}
.ui-badge--round {
    border-radius: 10px;
}