<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="apple-itunes-app" content="app-id=" />
    <link rel="apple-touar-icon" sizes="114x114" href="" />
    <title> 模板页 </title>
    <link href="css/custom/index.css" rel="stylesheet">
</head>
<body>
   
    <!-- Seajs入口开始 -->
    <script src="http://assets.dwstatic.com/mobile/src/js/main/seajs/sea-lego.js"></script>
    <!-- Seajs入口结束 -->
</body>
</html>
