@charset "utf-8";
/*
 *@ Name:       按钮基础模块
 *@ Update:     2014-11-18 21:34:03
 */

/* ===基类=== */

// 默认按钮大小配置
$btn-height: 30px !default; //按钮高度
$btn-padding-x: 18px !default; //按钮padding left/right值
$btn-font-size: 12px !default; //按钮字号大小
$btn-border-width: 1px !default; //按钮边框宽度
$btn-radius: 2px !default; //按钮圆角值

// 默认按钮配色
$btn-color: #333 !default; //字体颜色
$btn-color-hover: #333 !default; //字体颜色hover
$btn-bg: #fff !default; //背景色
$btn-bg-hover: #ebebeb !default; //背景色hover
$btn-border: #ccc !default; //边框颜色
$btn-border-hover: #adadad !default; //边框颜色hover

.ui-btn {
	@include inline-block;
	width:auto; // 宽度自适应
	padding: ($btn-height - $btn-font-size)/2 - 1 $btn-padding-x; // 某些浏览器私有属性里面额外设置了padding
    line-height: 1; // 重置某些浏览器内置的私有属性默认定义的行高
    border: $btn-border-width solid $btn-border; // 某些浏览器私有属性里面额外设置了border
    border-radius: $btn-radius;
    font-size: $btn-font-size;
    color: $btn-color;
    background-color: $btn-bg;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    *overflow: visible; // fix IE6/IE67 button随着字变宽
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	/* ===状态类（hover）=== */
	&.is-hover,
	&:hover {
		color: $btn-color-hover;
		background-color: $btn-bg-hover;
		border-color: $btn-border-hover;
		text-decoration: none; // 去掉a标签按钮的下划线
	}
	
	/* ===状态类（active）=== */
	&.is-active,
	&:active {
		outline: 0; // 隐藏点击时的outline
		-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
		   -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
		    -ms-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
		        box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	}
	
	
	/* ===状态类（禁用）=== */
	$disabled-color: #999 !default; //字体颜色
	$disabled-color-hover: #999 !default; //字体颜色hover
	$disabled-bg: #f5f5f5 !default; //背景色
	$disabled-bg-hover: #f5f5f5 !default; //背景色hover
	$disabled-border: #e6e6e6 !default; //边框颜色
	$disabled-border-hover: #e6e6e6 !default; //边框颜色hover

	&.is-disabled {
		color: $disabled-color;
		background-color: $disabled-bg;
		border-color: $disabled-border;
		&.is-hover,
		&:hover {
			cursor: not-allowed;
			color: $disabled-color-hover;
			background-color: $disabled-bg-hover;
			border-color: $disabled-border-hover;
		}
		&.is-active,
		&:active {
			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
			    -ms-box-shadow: none;
			        box-shadow: none;
		}
	}
}
a.ui-btn {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
input.ui-btn,
button.ui-btn {
    *padding: ($btn-height - $btn-font-size)/2 - 2 $btn-padding-x - 1 ($btn-height - $btn-font-size)/2 - 3; // IE6/IE67在垂直方向会高出3px，水平方向多出2px
}


/* ===主要按钮=== */
$primary-color: #fff !default; //字体颜色
$primary-color-hover: #fff !default; //字体颜色hover
$primary-bg: #428bca !default; //背景色
$primary-bg-hover: #3276b1 !default; //背景色hover
$primary-border: #357ebd !default; //边框颜色
$primary-border-hover: #285e8e !default; //边框颜色hover

.ui-btn--primary {
	color: $primary-color;
	background-color: $primary-bg;
	border-color: $primary-border;
	&.is-hover,
	&:hover {
		color: $primary-color-hover;
		background-color: $primary-bg-hover;
		border-color: $primary-border-hover;
	}
}


/* ===块状按钮=== */
.ui-btn--block {
	display:block;
	text-align: center;
}
