@charset "utf-8";
/*
 *@ Name:       accordion手风琴基础UI模块
 *@ Update:     2014-12-01 17:23:21
 */
 
/* ===基类=== */
$panel-x-width: 300px; // 手风琴宽度
$panel-x-height: 150px; // panel高度

.ui-accordion--horizontal {
    width: $panel-x-width;
    .ui-accordion__trigger {
        @include clearfix;
        padding: 0 10px;
        background-color: #ddd;
        &.is-active {
           background-color: #ccc; 
        }
    }
    .ui-accordion__tit {
        float: left;
    }
    .ui-accordion__ext {
        float: right;
    }
    .ui-accordion__panel {
        height: $panel-x-height;
    }
}


/* ===扩展类（纵向手风琴）=== */
$trigger-y-width: 18px; // 激活项边框宽度
$panel-y-width: 300px; // 激活项边框宽度
$panel-y-height: 300px; // panel高度

.ui-accordion--vertical {
    @include clearfix;
    width: auto;
    .ui-accordion__trigger {
        float: left;
        width: $trigger-y-width;
        height: $panel-y-height;
        padding: 0 10px;
        background-color: #ddd;
        &.is-active {
           background-color: #ccc; 
        }
    }
    .ui-accordion__panel {
        float: left;
        width: $panel-y-width;
        height: $panel-y-height;
    }
}