
.m-article{
	//padding:10px;
	line-height: 1.5em;
}

.m-article__channel{
	overflow: hidden;
	border-top: 4px solid #e50450;
	h2{
		font-size: pxToRem(14);
		color: #fff;
		background-color: #E50450;
		float: left;
		padding: 2px 20px;
		margin: 0 0 0 4%;
		font-weight: bold;
	}
}

.m-article__main{
	padding: 0 16px 4%;
	img{
		margin: 0 auto;
		padding:10px 0px;
		max-width: 90%;
		display: block;
	}
	>p{
		line-height: 1.5em; 
		font-size: pxToRem(17);
		color:#333;
		padding: 10px 0;
		word-break: break-all;
	}
}

.m-article__header{
	>.title{
		font-size: pxToRem(19);
		font-weight: normal;
		color:#333;
		padding: 10px 0;
		color: #000;
	}
}

.m-article__meta{
	font-size: pxToRem(13);
	color:#999;
	margin: 0 0 5px;
	>span{
		margin-right: 5px;
	}
}

.m-article__footer{
	background: #f5f5f5;
	border-top: 2px solid #ccc;
}

.m-article__comment{
	margin: 10px 4% 10px;
	background: #e50450;
	border-radius: 3px;
	display: block;
	text-align: center;
	height: 38px;
	line-height: 38px;
	color: #fff;
	font-size: pxToRem(18);
	text-decoration: none;
}

.m-article__copyright{
	font-size: pxToRem(14);
	color: #999;
	padding: 5px 0 15px;
	text-align: center;
}

/* 带播放标志视频缩略图组件 */
.u-videoimg{
	position: relative;
	text-align: center;
	padding: 10px 0;
	a{
		max-width: 90%;
		display: inline-block;
		img{
			vertical-align: top;
			//display: block;
			max-width: 100%;
		}
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			height: 50px;
			width: 50px;
			margin: -30px 0 0 -30px;
			border: 5px solid rgba(255,255,255,.6);
			@include radius(30px);
		}
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -12px 0 0 -6px;
			@include u-arrow-right(12px 0 12px 18px,rgba(255,255,255,.6));
		}
	}
}


