/*toggle按钮基础样式*/
.u-toggle {
  position: relative;
  width: 44px;
  height: 28px;
  background-color: #eee;
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
  display: inline-block;
  border-radius:14px;
  box-sizing: border-box;
  -webkit-transition: border .25s,box-shadow .25s,padding .25s;
  -webkit-appearance: none;
  -webkit-user-select: text;
  &:after{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: 15px;
    z-index: 2;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    background-image: -webkit-linear-gradient(top, #fff 0, #F1F1F1 100%);
    background-image: linear-gradient(to bottom, #fff 0, #F1F1F1 100%);
    border-radius:14px;
    -webkit-transition: border .25s,left .25s,right .25s;
  }
}

.u-toggle[checked="checked"]{
  padding-left: 18px;
  background-color: #3D9DEE;
  border: 1px solid #096c9d;
  box-shadow: inset 0 0 0 13px #3D9DEE;
  &:after{
    border-color: #0a76ad;
    right: 0px;
    left: 15px;
    -webkit-transition: border .25s,left .15s,right .25s;
  }
}
