@charset 'utf-8';
// 全局样式
*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
body{
	margin: 0 auto;
	padding: 0;
	max-width: 640px;
	min-width: 300px;
	font-family: 'Microsoft YaHei','微软雅黑',Helvetica, 'Droid Sans', sans-serif;
	color: #333;
	font-size: 12px;
}
img{
	max-width: 100%;
}
