// gobal vars
$base-color            : #333 !default;
$base-background-color : #fff !default;
$base-link-color       : #333 #F40 !default;
$base-font-size        : 12px !default;
$base-line-height      : 1.5 !default;
$base-font-family      : Microsoft YaHei, Tahoma, sans-serif !default;

@import "base/normalize";
@import "base/base";
@import "base/mixins";
@import "base/css3";

@import "slice";

body {
    font: #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $base-color;
    background-color: $base-background-color;
}
a {
    text-decoration: none;
    color: nth($base-link-color,1);
    &:hover {
        text-decoration: underline;
        color: nth($base-link-color,2);
    }
}
  