@charset "UTF-8";

/* 专区底部 */
.ZQ__foot{
	#footer{
		background-color: #222222;
		padding: 22px 0 22px 0;
		p,a,.foot-nav{
			color: #666;
		}
	}
}

/* 友情链接 */
.ZQ__friend{
	background-color: #2D2D2D;
	.duowan{
		position: absolute;
		top: 28px;
		left: 0px;
	}
	.inner{
		position: relative;
		*zoom: 1;
		width: 1136px;
		margin: 0 auto;
		@include clearfix();
		padding: 10px 0 10px 0px;
	}
	.label{
		display: inline-block; *display: inline; *zoom: 1;
		margin-bottom: 7px;
		position: relative;
		z-index: 5;
		padding-right: 16px;
		background-color: #2D2D2D;
		em{
			display: inline-block; *display: inline; *zoom: 1;
			background-color: #222222;
			color: #999;
			font-size: 14px;
			font-family: "Microsoft YaHei", sans-serif;
			padding: 0px 9px 0px 9px;
			height: 25px;
			line-height: 25px;
		}
	}
	.link{
		overflow: hidden;
		*zoom: 1;
		font-size: 0px;
		margin-bottom: -3px;
		a{
			display: inline-block; *display: inline; *zoom: 1;
			padding: 0 11px 0 10px;
			border-left: 1px solid #464646;
			position: relative;
			margin-left: -1px;
			font-size: 12px;
			color: #999;
			line-height: 1.1em;
			margin-bottom: 7px;
		}
	}
}

/* 网站地图 */
.ZQ__map{
	background-color: #EAEAEA;
	.inner{
		width: 1136px;
		margin: 0 auto;
		@include clearfix();
		overflow: hidden;
		padding: 20px 0;
		position: relative;
		zoom: 1;
	}
	.map-list{
        font-size: 0px;
		position: relative;
        margin-left: -1px;
		float: left;
		display: inline;
	}
	.list{
        width: 145px - 15;
		padding: 0 15px;
        @include inline-block;
		text-align: center;
		border-left: 1px solid #DBDBDB;
        font-size: 0;
        vertical-align: top;
        a,span{
            font-size: 12px;
            display: block;
        }
		.label{
			display: block;
			*zoom: 1;
			text-align: center;
			font-weight: bold;
			color: #888;
			height: 26px;
			line-height: 26px;
		}
		li{
			text-align: center;
			height: 26px;
			line-height: 26px;
            overflow: hidden;
		}
		a{
			color: #888;
		}
	}
	.foot-action{
		text-align: center;
		height:45px - 10;
		background-color: #e4e4e4;
		padding-top: 10px;
		font-size: 0px;
		.search{
			position: relative;
			@include inline-block;
			width: 400px;
			background-color: #eeeeee;
			border-radius:4px;
			border:1px solid #E2E2E2;
			input{
				font-size: 12px;
				line-height: 24px;
				height:24px;
				padding: 0px 30px 0px 4px;
				width: 144px + 220;
				color: #BCBCBC;
				border: none;
				background-color: transparent;
				display:block;
				&:focus{
					outline: none;
				}
			}
			.submit{
				position: absolute;
				top: 50%;
				right: 5px;
				background-image: url("../img/slice/icon-search1.png");
				width: 18px;
				height: 18px;
				text-indent: -200%;
				overflow: hidden;
				margin-top: -9px;
				font-size: 0px;
				outline: 0 none;
			}
		}
		.connect{
			font-weight: bold;
			color:#999999;
			font-size: 14px;
			font-family: "Microsoft YaHei",sans-serif;
			padding-left: 30px;
			display:inline-block;
			line-height: 26px;
		}
	}
}