<div id="dwzq-footer">
    <!-- 搜索{ -->
    <div class="mod-search">
        <form id="form-search2" method="get" action="http://soso.duowan.com/s" target="_blank" accept-charset="utf-8">
            <input type="text" name="word" value="测试" />
            <a class="btn-submit" onclick="javascript:document.getElementById('form-search2').submit()" title="搜索">搜索</a>
            <a href="#" class="back-to-top" target="_self" id="J_BackToTop">回到顶部</a>
            <a href="http://bbs.duowan.com/plugin.php?id=msgboard:post" target="_blank" class="back-to-top contact-editor">联系总编</a>
        </form> 
    </div>
    <!-- }搜索 -->
    <!-- 底部导航{ -->
    <div class="game-map">
        <ul class="clearfix">
            <li class="first">
                <b>热点新闻</b>
                <a href="http://qqxy.duowan.com/tag/124296995472.html">官方新闻</a>
                <a href="http://qqxy.duowan.com/tag/149682045819.html">更新公告</a>
                <a href="http://qqxy.duowan.com/tag/124303443395.html">区服见闻</a>
                <a href="http://qqxy.duowan.com/tag/150801509580.html">BUG报告</a>
                <a href="http://qqxy.duowan.com/tag/150801502244.html">记者专访</a>
                <a href="http://qqxy.duowan.com/tag/150801477203.html">公会势力</a>
            </li>
            <li>
                <b>游戏截图</b>
                <a href="http://qqxy.duowan.com/tag/124297023301.html">游戏截图</a>
                <a href="http://qqxy.duowan.com/tag/153398271887.html">宝宝秀图</a>
                <a href="http://qqxy.duowan.com/tag/153398280967.html">搞笑趣图</a>
                <a href="http://qqxy.duowan.com/tag/153398344989.html">游戏壁纸</a>
                <a href="http://qqxy.duowan.com/tag/153398263353.html">装备靓图</a>
                <a href="http://qqxy.duowan.com/tag/153398476476.html">西游美图</a>
                <a href="http://qqxy.duowan.com/tag/124297173282.html">玩家照片</a>
            </li>
            <li>
                <b>经验心得</b>
                <a href="http://qqxy.duowan.com/tag/136547145338.html">经验攻略</a>
                <a href="http://qqxy.duowan.com/tag/148742988887.html">任务大全</a>
                <a href="http://qqxy.duowan.com/tag/137678049230.html">副本攻略</a>
                <a href="http://qqxy.duowan.com/tag/148826372311.html">活动攻略</a>
                <a href="http://qqxy.duowan.com/tag/137424874053.html">宠物养成</a>
                <a href="http://qqxy.duowan.com/tag/149792673608.html">游戏技巧</a>
                <a href="http://qqxy.duowan.com/tag/148825447341.html">练级攻略</a>
            </li>
            <li>
                <b>职业相关</b>
                <a href="http://qqxy.duowan.com/tag/124297013197.html">职业介绍</a>
                <a href="http://qqxy.duowan.com/tag/153414136480.html">隐龙战士</a>
                <a href="http://qqxy.duowan.com/tag/136201937177.html">幽冥刺客</a>
                <a href="http://qqxy.duowan.com/tag/153411437599.html">玄灵天师</a>
                <a href="http://qqxy.duowan.com/tag/136201956141.html">济世医仙</a>
                <a href="http://qqxy.duowan.com/tag/153400285206.html">翎羽弓魂</a>
                <a href="http://qqxy.duowan.com/1009/148836904618.html">神通模拟</a>
            </li>
            <li>
                <b>游戏视频</b>
                <a href="http://qqxy.duowan.com/tag/137671546773.html">游戏视频</a>
                <a href="http://qqxy.duowan.com/tag/152188919846.html">副本视频</a>
                <a href="http://qqxy.duowan.com/tag/152188934133.html">宣传视频</a>
                <a href="http://qqxy.duowan.com/tag/153397519610.html">攻略视频</a>
                <a href="http://qqxy.duowan.com/tag/152188962797.html">玩家视频</a>
                <a href="http://qqxy.duowan.com/tag/152188949981.html">PK视频</a>
            </li>
            <li class="last">
                <b>玩家交流</b>
                <a href="http://qqxy.duowan.com/tag/135964252081.html">玩家交流</a>
                <a href="http://qqxy.duowan.com/tag/152535192025.html">水库爆笑</a>
                <a href="http://qqxy.duowan.com/tag/152451905282.html">美图故事</a>
                <a href="http://qqxy.duowan.com/tag/135963905869.html">新手入门</a>
                <a href="http://qqxy.duowan.com/tag/135959440913.html">疑难问答</a>
                <a href="http://qqxy.duowan.com/tag/153400975337.html">论坛话题</a>
            </li>
        </ul>
    </div>
    <!-- }底部导航 -->
    <!-- 友情链接{ -->
    <div class="friend-link">
        <div class="bd"><b>友情链接：</b><a href="http://cod.sgamer.com/" target="_blank">超玩CODOL</a>
            <a href="http://codol.gamersky.com/" target="_blank">使命召唤OL粉丝站</a>
            <a href="http://codol.pcgames.com.cn/" target="_blank">太平洋codol</a>
            <a href="http://bns.duowan.com/" target="_blank">剑灵</a>
            <a href="http://gj.duowan.com/" target="_blank">冠军对决</a>
            <a href="http://ff14.duowan.com/" target="_blank">最终幻想14</a>
        </div>
    </div>
    <!-- }友情链接 -->
    <!-- 版权信息{ -->
    <script type="text/javascript" src="http://www.duowan.com/assets/js/duowanFooter.js" charset="utf-8"></script>
    <!-- }版权信息 -->
</div>