<div class="ZQ-row">
	<div class="ZQ-71">
		<div class="m-tab index-game-video" id="game-cut">
			<div class="mod-tab-hd">
				<h3 class="mod-tab-title">游戏截图</h3>
		        <div class="act">
		        	<a href="" class="more"><i></i>更多</a>
		        </div>
				<ul class="mod-tab-trigger J_nav">
					<li class="selected">BOSS视频</li>
					<li>副本视频</li>
					<li>职业视频</li>
					<li>娱乐宣传</li>
		        </ul>
			</div>
			<div class="mod-tab-bd J_content">
				<div class="mod-tab-content">
					<ul class="mod-pic--video">
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
					</ul>
				</div>
				<div class="mod-tab-content hide">
					<ul class="mod-pic--video">
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
					</ul>
				</div>
				<div class="mod-tab-content hide">
					<ul class="mod-pic--video">
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
						<li><a title="title" href="#">
							<img src="http://art.yypm.com/206x142" alt="">
							<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script>
	LEGO.tab("#game-cut",{event:"hover"});
	</script>
</div>