<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Keywords" content="多玩游戏">
<meta name="description" content="">
<title> 一线专区 </title>
<link rel="stylesheet" href="http://dwzq1.duowan.com/s/v1011/global.css">
<script src="http://www.duowan.com/public/assets/sys/js/jquery.js"></script>
<script src="http://assets.dwstatic.com/b=common/js&amp;f=jquery-1.11.1.min.js,jquery-migrate-1.2.1.min.js&amp;20141230"></script>
<script src="http://www.duowan.com/public/assets/sys/js/dww3.min.js"></script>
<link charset="utf-8" rel="stylesheet" href="http://assets.dwstatic.com/b=amkit&amp;f=p/livetip/style/tip.css&amp;nm&amp;2014061803.css">
<base target="_blank">
<link href="css/global.css" rel="stylesheet">