<div class="ZQ-row">
	<div class="ZQ-71-23">
		<div class="m-tab m-tab--weekly" id="weekly1">
			<div class="mod-tab-hd">
				<h3 class="mod-tab-title">综合攻略</h3>
				<ul class="mod-tab-trigger J_nav">
					<li class="selected">周</li>
					<li>月</li>
		        </ul>
			</div>
			<div class="mod-tab-bd J_content">
				<div class="mod-tab-content">
					<ul class="m-list--news">
						<li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
						<li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
						<li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
						<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
						<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
						<li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
						<li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
						<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
						<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
					</ul>
				</div>
				<div class="mod-tab-content hide">
					...
				</div>
				<div class="mod-tab-content hide">
					...
				</div>
			</div>
		</div>
	</div>
	<div class="ZQ-71-23">
		<div class="m-tab m-tab--weekly" id="weekly2">
			<div class="mod-tab-hd">
				<h3 class="mod-tab-title">综合攻略</h3>
				<ul class="mod-tab-trigger J_nav">
					<li class="selected">周</li>
					<li>月</li>
		        </ul>
			</div>
			<div class="mod-tab-bd J_content">
				<div class="mod-tab-content">
					<ul class="m-list--news">
						<li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
						<li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
						<li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
						<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
						<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
						<li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
						<li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
						<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
						<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
					</ul>
				</div>
				<div class="mod-tab-content hide">
					...
				</div>
				<div class="mod-tab-content hide">
					...
				</div>
			</div>
		</div>
	</div>
	<div class="ZQ-71-23">
		<div class="m-tab m-tab--weekly" id="weekly3">
			<div class="mod-tab-hd">
				<h3 class="mod-tab-title">综合攻略</h3>
				<ul class="mod-tab-trigger J_nav">
					<li class="selected">周</li>
					<li>月</li>
		        </ul>
			</div>
			<div class="mod-tab-bd J_content">
				<div class="mod-tab-content">
					<ul class="m-list--news">
						<li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
						<li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
						<li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
						<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
						<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
						<li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
						<li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
						<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
						<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
					</ul>
				</div>
				<div class="mod-tab-content hide">
					...
				</div>
				<div class="mod-tab-content hide">
					...
				</div>
			</div>
		</div>
	</div>
	<script>
	LEGO.tab("#weekly1",{event:"hover"});
	LEGO.tab("#weekly2",{event:"hover"});
	LEGO.tab("#weekly3",{event:"hover"});
	</script>
</div>