<div class="ZQ-row">
	<div class="ZQ-71">
		<div class="m-tab ZQ-job" id="ZQ-job">
			<div class="mod-tab-hd">
				<h3 class="mod-tab-title">职业攻略</h3>
		        <div class="act">
		        	<a href="" class="more"><i></i>更多</a>
		        </div>
				<ul class="mod-tab-trigger J_nav">
					<li class="selected">骑术师</li>
					<li>武神</li>
					<li>战士</li>
					<li>龙骑士</li>
					<li>游吟诗人</li>	
					<li>白魔法师</li>
					<li>黑魔法师</li>
		        </ul>
			</div>
			<div class="mod-tab-bd J_content">
				<div class="mod-tab-content">
					<!-- 人物1{ -->
					<div class="game-role">
						<img src="http://art.yypm.com/190x310" alt="">
					</div>
					<div class="role-intro-ctn">
						<div class="role-intro">
							<h3>九夜女王<span>(30级可转级)</span></h3>
							<div class="item">
								<span class="label">职业介绍：</span>
								<div class="cont">骑士将眼花缭乱的剑术和坚固的盾牌无防卫结合在一起，无懈可击的投入战斗，都会时刻准备为自己的君主献出生降低非积分是双方均跌命。<a href="">[详细]</a></div>
							</div>
							<div class="item">
								<span class="label">职业特色：</span>
								<div class="cont"><a href="" class="toppic-item">近战</a><a href="" class="toppic-item">防御</a><a href="" class="toppic-item">攻击力</a></div>
							</div>
						</div>
						<div class="guide-box upgrade-guide">
							<div class="guide-box__hd">
								<h4>骑术攻略</h4>
								<a class="more" href="#"><i></i>更多</a>
							</div>
							<div class="guide-box__bd">
								<ul class="mod-pic--video mini">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/130x90" alt="">
										<span class="video-time"><i></i>01:20</span>
										<em>英雄联盟英雄大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/130x90" alt="">
										<span class="video-time"><i></i>01:20</span>
										<em>英雄联盟英雄大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/130x90" alt="">
										<span class="video-time"><i></i>01:20</span>
										<em>英雄联盟英雄大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/130x90" alt="">
										<span class="video-time"><i></i>01:20</span>
										<em>英雄联盟英雄大师崔斯特</em>
									</a></li>
								</ul>
								   
							</div>
						</div>
					</div>
					<div class="guide-box upgrade-guide">
						<div class="guide-box__hd">
							<h4>升级攻略</h4>
							<a class="more" href="#"><i></i>更多</a>
						</div>
						<div class="guide-box__bd">
							<ul class="m-list">
								<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
								<li><i></i><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
								<li><i></i><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
								<li><i></i><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
								<li><i></i><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
								<li><i></i><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
								<li><i></i><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
								<li><i></i><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
								<li><i></i><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
								<li><i></i><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
							</ul>
						</div>
					</div>
					<!-- }人物1 -->
				</div>
				<div class="mod-tab-content hide">
					<!-- 人物2{ -->
					<div class="game-role">
						<img src="http://art.yypm.com/190x310" alt="">
					</div>
					<div class="role-intro-ctn">
						<div class="role-intro">
							<h3>元始天尊<span>(30级可转级)</span></h3>
							<div class="item">
								<span class="label">职业介绍：</span>
								<div class="cont">骑士将眼花缭乱的剑术和坚固的盾牌无防卫结合在一起，无懈可击的投入战斗，都会时刻准备为自己的君主献出生降低非积分是双方均跌命。<a href="">[详细]</a></div>
							</div>
							<div class="item">
								<span class="label">职业特色：</span>
								<div class="cont"><a href="" class="toppic-item">近战</a><a href="" class="toppic-item">防御</a><a href="" class="toppic-item">攻击力</a></div>
							</div>
						</div>
						<div class="guide-box upgrade-guide">
							<div class="guide-box__hd">
								<h4>骑术攻略</h4>
								<a class="more" href="#"><i></i>更多</a>
							</div>
							<div class="guide-box__bd">
								<ul class="mod-pic--video mini">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/130x90" alt="">
										<span class="video-time"><i></i>01:20</span>
										<em>英雄联盟英雄大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/130x90" alt="">
										<span class="video-time"><i></i>01:20</span>
										<em>英雄联盟英雄大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/130x90" alt="">
										<span class="video-time"><i></i>01:20</span>
										<em>英雄联盟英雄大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/130x90" alt="">
										<span class="video-time"><i></i>01:20</span>
										<em>英雄联盟英雄大师崔斯特</em>
									</a></li>
								</ul>
								   
							</div>
						</div>
					</div>
					<div class="guide-box upgrade-guide">
						<div class="guide-box__hd">
							<h4>升级攻略</h4>
							<a class="more" href="#"><i></i>更多</a>
						</div>
						<div class="guide-box__bd">
							<ul class="m-list">
								<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
								<li><i></i><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
								<li><i></i><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
								<li><i></i><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
								<li><i></i><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
								<li><i></i><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
								<li><i></i><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
								<li><i></i><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
								<li><i></i><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
								<li><i></i><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
							</ul>
						</div>
					</div>
					<!-- }人物2 -->
				</div>
				<div class="mod-tab-content hide">
					...
				</div>
			</div>
		</div>
		<script>
		LEGO.tab("#ZQ-job",{event:"hover"});
		</script>
	</div>
</div>