<div id="aside" class="g-2-2">

    <!-- 游戏专题{ -->
    <div class="box m-newsbox m-gamecopy">
        <div class="box-hd">
            <i class="icon"></i>
            <h3 class="title">游戏专题</h3>
        </div>
        <div class="box-bd">
            <ul class="mod-pic">
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
            </ul>
        </div>
    </div>
    <!-- }游戏专题 -->
    <div class="blank10"></div>

    <!-- 论坛热贴{ -->
    <div class="box m-newsbox m-gamebbs">
        <div class="box-hd">
            <i class="icon"></i>
            <h3 class="title">论坛热贴</h3>
            <div class="act">
                <a class="more" href="#">更多&raquo;</a>
            </div>
        </div>
        <div class="box-bd">
            <ul class="list-article">
                <li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                <li><i></i><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                <li><i></i><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                <li><i></i><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                <li><i></i><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                <li><i></i><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                <li><i></i><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
            </ul>
        </div>
    </div>
    <!-- }论坛热贴 -->
    <div class="blank10"></div>

    <!-- 游戏服务器{ -->
    <div class="box m-newsbox m-gameserver">
        <div class="box-hd">
            <i class="icon"></i>
            <h3 class="title">游戏服务器</h3>
        </div>
        <div class="box-bd">
            <ul>
                <li><em>【电信】</em><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a></li>
                <li><em>【网通】</em><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a></li>
                <li><em>【电信】</em><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a></li>
                <li><em>【网通】</em><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a></li>
                <li><em>【电信】</em><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a></li>
            </ul>
        </div>
    </div>
    <!-- }游戏服务器 -->
    <div class="blank10"></div>
    <!-- 游戏信息{ -->
    <div class="box m-newsbox m-gameinfo">
        <div class="box-hd">
            <i class="icon"></i>
            <h3 class="title">游戏信息</h3>
        </div>
        <div class="box-bd">
            <ul>
                <li>游戏名称：QQ西游</li>
                <li>运营公司：腾讯</li>
                <li>游戏类型：3D MMORPG</li>
                <li>游戏状态：9.28煽情内测</li>
                <li>官方网站：<a href="http://qqxy.qq.com" target="_blank">点击进入</a></li>
                <li>责任编辑：<a href="http://bbs.duowan.com/space-uid-4758881.html">楚烈</a></li>
            </ul>
        </div>
    </div>
    <!-- }游戏信息 -->
    
</div>