<div class="ZQ-row">
	<div class="ZQ-71">
		<!-- 职业攻略{ -->
		<div class="ZQ-box ZQ-jobguide">
			<div class="box-hd">
				<h3 class="title">职业攻略</h3>
				<div class="act">
					<span class="links">
						<a href="">链接1</a>
						<a href="">链接2</a>
						<a href="">链接3</a>
						<a href="">链接4</a>
					</span>
					<a class="more" href="#"><i></i>更多</a>
				</div>
			</div>
			<div class="box-bd">
				<div class="ZQ-row no-margin">
					<div class="col-A">
						<!-- section - 1{ -->
						<div class="job-list">
							<h4>能巧工匠</h4>
							<div class="list">
								<a href=""><img src="http://art.yypm.com/162x63" alt=""></a>
								<a href=""><img src="http://art.yypm.com/162x63" alt=""></a>
								<a href=""><img src="http://art.yypm.com/162x63" alt=""></a>
								<a href=""><img src="http://art.yypm.com/162x63" alt=""></a>
								<a href=""><img src="http://art.yypm.com/162x63" alt=""></a>
								<a href=""><img src="http://art.yypm.com/162x63" alt=""></a>
								<a href=""><img src="http://art.yypm.com/162x63" alt=""></a>
								<a href=""><img src="http://art.yypm.com/162x63" alt=""></a>
							</div>
						</div>
						<!-- }section - 1 -->
						<div class="blank10"></div>
						<!-- section - 2{ -->
						<div class="job-list">
							<h4>能巧工匠</h4>
							<div class="list">
								<a href=""><img src="http://art.yypm.com/222x63" alt=""></a>
								<a href=""><img src="http://art.yypm.com/222x63" alt=""></a>
								<a href=""><img src="http://art.yypm.com/222x63" alt=""></a>
							</div>
						</div>
						<!-- }section - 2 -->
					</div>
					<div class="col-B">
						<div class="guide-box upgrade-guide">
							<div class="guide-box__hd">
								<h4>升级攻略</h4>
								<a class="more" href="#"><i></i>更多</a>
							</div>
							<div class="guide-box__bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
									<li><i></i><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
									<li><i></i><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
									<li><i></i><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
									<li><i></i><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
									<li><i></i><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
									<li><i></i><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
									<li><i></i><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- }职业攻略 -->
	</div>
</div>