<style>
    #about_con_1 {
        border:1px solid #ccc;
        height:200px;
        font-size:12px;
        overflow:hidden;
        color:#333;
    }
    #about_con_1 a {
        color:#333;
    }
    #about_con_1 .left {
        width:500px;
        overflow:hidden;
        float:left;
        display:inline;
    }
    #about_con_1 .left table {
        margin:0;
        width:460px;
    }
    #face_title {
        font-weight:bold;
        margin:10px 0 0 10px;
        height:18px;
        overflow:hidden;
        font-size:12px;
    }
    #face_title span {
        color:#e2044f;
    }
    #ding {
        background:url(/s/v1011/btn_ding.png) no-repeat;
        height:100px;
        width:110px;
        text-align:center;
        overflow:hidden;
        padding-top:14px;
        float:left;
        display:inline;
        margin:60px 0 0 8px;
    }
    #ding span.nmb {
        font-family:微软雅黑, 黑体;
        font-weight:normal;
        font-size:20px;
        font-weight:bold;
        color:#fff;
    }
    #ding img {
        width:87px;
        height:27px;
        margin:8px auto 4px auto;
        display:block;
        cursor:pointer;
    }
    #ding span.btn {
        cursor:pointer;
        font-size:12px;
        color:#fff;
    }
    #ding span.btn-ding {
        width:100px;
        height:30px;
        margin:0 auto;
        display:block;
        cursor:pointer;
    }
    #table1 td div{
      margin: auto;
    }
</style>
<div id="about_con_1">
    <script src="http://news.duowan.com/s/i/vote2.js" type="text/javascript"></script>
    <script src="http://news.duowan.com/s/i/xpath2.js" type="text/javascript"></script>
    <div class="left" id="face">
        <!--图片-->
        <div id="face_title" class="pink">看完本文后有何评价? 已有
            <span id="sumWrite" style="height:15px;">0</span>人评价，点选表情后可看到其他玩家的表态。</div>
        <input type="hidden" id="type" value="1">
        <input type="hidden" id="articleId" value="269539124422">
        <input type="hidden" id="channelId" value="ffo">
        <input type="hidden" id="tag" value="normal">
        <input type="hidden" id="title" value="《幻想神域》预创建火爆 提前加开服务器123">
        <input type="hidden" id="url" value="http://ffo.duowan.com/1407/269539124422.html">
        <input type="hidden" id="encode" value="utf-8">
        <table id="table1" width="460" style="margin:0 auto 5px;" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
                <td align="center" valign="bottom" style="height:45px;">
                    <span id="span1">0</span>
                    <div id="xx1" style="width: 14px; height: 0px; overflow: hidden; background: rgb(80, 65, 149);"></div>
                </td>
                <td align="center" valign="bottom">
                    <span id="span2">0</span>
                    <div id="xx2" style="width: 14px; height: 0px; overflow: hidden; background: rgb(80, 65, 149);"></div>
                </td>
                <td align="center" valign="bottom">
                    <span id="span3">0</span>
                    <div id="xx3" style="width: 14px; height: 0px; overflow: hidden; background: rgb(80, 65, 149);"></div>
                </td>
                <td align="center" valign="bottom">
                    <span id="span4">0</span>
                    <div id="xx4" style="width: 14px; height: 0px; overflow: hidden; background: rgb(80, 65, 149);"></div>
                </td>
                <td align="center" valign="bottom">
                    <span id="span5">0</span>
                    <div id="xx5" style="width: 14px; height: 0px; overflow: hidden; background: rgb(80, 65, 149);"></div>
                </td>
                <td align="center" valign="bottom">
                    <span id="span6">0</span>
                    <div id="xx6" style="width: 14px; height: 0px; overflow: hidden; background: rgb(80, 65, 149);"></div>
                </td>
                <td align="center" valign="bottom">
                    <span id="span7">0</span>
                    <div id="xx7" style="width: 14px; height: 0px; overflow: hidden; background: rgb(80, 65, 149);"></div>
                </td>
            </tr>
            <tr>
                <td align="center" height="58">
                    <a>
                        <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126714114417.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114417.gif">
                    </a>
                </td>
                <td align="center">
                    <a>
                        <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126714114418.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114418.gif">
                    </a>
                </td>
                <td align="center">
                    <a>
                        <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126714114419.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114419.gif">
                    </a>
                </td>
                <td align="center">
                    <p>
                        <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126714114420.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114420.gif">
                    </p>
                    <a></a>
                </td>
                <td align="center">
                    <a>
                        <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126714114421.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114421.gif">
                    </a>
                </td>
                <td align="center">
                    <a>
                        <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1006/141831485415/141831511458.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1006/141831485415/141831511458.gif">
                    </a>
                </td>
                <td align="center">
                    <a>
                        <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126716586710.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114423.gif">
                    </a>
                </td>
            </tr>
            <tr>
                <td align="center"><a>牛顶</a>
                </td>
                <td align="center"><a>鄙视</a>
                </td>
                <td align="center"><a>膜拜</a>
                </td>
                <td align="center"><a>么个</a>
                </td>
                <td align="center"><a>雷囧</a>
                </td>
                <td align="center"><a>不解</a>
                </td>
                <td align="center"><a>路过</a>
                </td>
            </tr>
            <tr>
                <td height="24" align="center">
                    <input name="choice" type="radio" value="1" onclick="voteRadio(1,'face',0,0)">
                </td>
                <td align="center">
                    <input name="choice" type="radio" value="2" onclick="voteRadio(2,'face',0,0)">
                </td>
                <td align="center">
                    <input name="choice" type="radio" value="3" onclick="voteRadio(3,'face',0,0)">
                </td>
                <td align="center">
                    <input name="choice" type="radio" value="4" onclick="voteRadio(4,'face',0,0)">
                </td>
                <td align="center">
                    <input name="choice" type="radio" value="5" onclick="voteRadio(5,'face',0,0)">
                </td>
                <td align="center">
                    <input name="choice" type="radio" value="6" onclick="voteRadio(6,'face',0,0)">
                </td>
                <td align="center">
                    <input name="choice" type="radio" value="7" onclick="voteRadio(7,'face',0,0)">
                </td>
            </tr>
        </tbody></table>
    </div>
    <!--left-->
    <script language="javascript">
    getValue("face");
    voteRadio(8, 'face', 1, 0);
    </script>
    <div id="ding">
        <input type="hidden" id="type" value="2">
        <input type="hidden" id="articleId" value="269539124422">
        <input type="hidden" id="channelId" value="ffo">
        <input type="hidden" id="tag" value="normal">
        <input type="hidden" id="title" value="《幻想神域》预创建火爆 提前加开服务器123">
        <input type="hidden" id="url" value="http://ffo.duowan.com/1407/269539124422.html">
        <input type="hidden" id="encode" value="utf-8">
        <input type="radio" id="choice" value="1" style="display:none">
        <span id="span1" class="nmb">0</span>
        <span class="nmb">票</span>
        <span onclick="voteRadio(1,'ding',0,0)" class="btn-ding"></span>
        <span onclick="javascript:if(document.all){clipboardData.setData(&quot;Text&quot;,location.href);this.innerHTML=&quot;<span style=\&quot;color:red\&quot;>[文章地址已复制]<strong></span>&quot;;}" class="btn">[与更多人共享]</span>
    </div>
    <script language="javascript">
    getValue("ding");
    voteRadio(1, 'ding', 1, 0);
    </script>
    <div class="clearfix"></div>
</div>