<!-- 游戏前瞻{ -->
<div class="ZQ-box index-gamebrocast">
	<div class="box-hd">
		<h3 class="title">游戏前瞻</h3>
		<div class="act">
			<a class="more" href="#"><i></i>更多</a>
		</div>
	</div>
	<div class="box-bd">
		<!-- 专题图片{ -->
		<ul class="mod-pic--toppic">
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/270x75" alt="">
			</a></li>
		</ul>
		<!-- }专题图片 -->
		<div class="other-data">
			<ul>
				<li><a href="">挖掘地一览</a></li>
				<li><a href="">鱼类</a></li>
				<li><a href="">机械</a></li>
				<li><a href="">机械</a></li>
				<li><a href="">机械</a></li>
				<li><a href="">挖掘地一览</a></li>
				<li><a href="">鱼类</a></li>
				<li><a href="">机械</a></li>
				<li><a href="">机械</a></li>
				<li><a href="">机械</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- }游戏前瞻 -->

<!-- 精彩专题{ -->
<div class="ZQ-box index-wonder-toppic">
	<div class="box-hd">
		<h3 class="title">精彩专题</h3>
		<div class="act">
			<a class="more" href="#"><i></i>更多</a>
		</div>
	</div>
	<div class="box-bd">
		<!-- 专题图片{ -->
		<ul class="mod-pic--toppic">
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/270x75" alt="">
			</a></li>
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/270x75" alt="">
			</a></li>
		</ul>
		<!-- }专题图片 -->

		<!-- 小图列表{ -->
		<ul class="mod-pic--min">
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/80x70" alt="">
				<em>物品专题</em>
			</a></li>
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/80x70" alt="">
				<em>物品专题</em>
			</a></li>
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/80x70" alt="">
				<em>物品专题</em>
			</a></li>
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/80x70" alt="">
				<em>物品专题</em>
			</a></li>
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/80x70" alt="">
				<em>物品专题</em>
			</a></li>
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/80x70" alt="">
				<em>物品专题</em>
			</a></li>
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/80x70" alt="">
				<em>物品专题</em>
			</a></li>
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/80x70" alt="">
				<em>物品专题</em>
			</a></li>
			<li><a title="title" href="#">
				<img src="http://art.yypm.com/80x70" alt="">
				<em>物品专题</em>
			</a></li>
		</ul>
		   
		<!-- }小图列表 -->

	</div>
</div>
<!-- }精彩专题 -->
<div class="ZQ-gap"></div>
<!-- 专区资料{ -->
<div class="ZQ-box ZQ-channal-data">
	<div class="box-hd">
		<h3 class="title">专区资料</h3>
		<div class="act">
			<a class="more" href="#"><i></i>更多</a>
		</div>
	</div>
	<div class="box-bd">
		<!-- 资料list{ -->
		<div class="data-list">
			<span class="label">新手必备</span>
			<a href="">创建人物</a>
			<a href="">基础操作</a>
			<a href="">种族介绍</a>
			<a href="">城镇介绍</a>
			<a href="">地图介绍</a>
			<a href="">行军令</a>
			<a href="">创建人物</a>
			<a href="">基础操作</a>
			<a href="">种族介绍</a>
			<a href="">城镇介绍</a>
			<a href="">地图介绍</a>
			<a href="">行军令</a>
		</div>
		<!-- }资料list -->
		<!-- 资料list{ -->
		<div class="data-list">
			<span class="label">新手必备</span>
			<a href="">创建人物</a>
			<a href="">基础操作</a>
			<a href="">种族介绍</a>
			<a href="">城镇介绍</a>
			<a href="">地图介绍</a>
			<a href="">行军令</a>
			<a href="">创建人物</a>
			<a href="">基础操作</a>
			<a href="">种族介绍</a>
			<a href="">城镇介绍</a>
			<a href="">地图介绍</a>
			<a href="">行军令</a>
		</div>
		<!-- }资料list -->
		<!-- 资料list{ -->
		<div class="data-list">
			<span class="label">新手必备</span>
			<a href="">创建人物</a>
			<a href="">基础操作</a>
			<a href="">种族介绍</a>
			<a href="">城镇介绍</a>
			<a href="">地图介绍</a>
			<a href="">行军令</a>
			<a href="">创建人物</a>
			<a href="">基础操作</a>
			<a href="">种族介绍</a>
			<a href="">城镇介绍</a>
			<a href="">地图介绍</a>
			<a href="">行军令</a>
			<a href="">创建人物</a>
			<a href="">基础操作</a>
			<a href="">种族介绍</a>
			<a href="">城镇介绍</a>
			<a href="">地图介绍</a>
			<a href="">行军令</a>
			<a href="">基础操作</a>
			<a href="">种族介绍</a>
			<a href="">城镇介绍</a>
			<a href="">地图介绍</a>
			<a href="">行军令</a>
		</div>
		<!-- }资料list -->
	</div>
</div>
<!-- }专区资料 -->
<div class="ZQ-gap"></div>
<div class="m-tab m-tab--weekly" id="weekly1">
	<div class="mod-tab-hd">
		<h3 class="mod-tab-title">综合攻略</h3>
		<ul class="mod-tab-trigger J_nav">
			<li class="selected">周</li>
			<li>月</li>
        </ul>
	</div>
	<div class="mod-tab-bd J_content">
		<div class="mod-tab-content">
			<ul class="m-list--news">
				<li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
				<li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
				<li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
				<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
				<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
				<li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
				<li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
				<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
				<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
			</ul>
		</div>
		<div class="mod-tab-content hide">
			...
		</div>
		<div class="mod-tab-content hide">
			...
		</div>
	</div>
</div>
<div class="ZQ-gap"></div>
<div class="m-tab m-tab--weekly" id="weekly1">
	<div class="mod-tab-hd">
		<h3 class="mod-tab-title">综合攻略</h3>
		<ul class="mod-tab-trigger J_nav">
			<li class="selected">周</li>
			<li>月</li>
        </ul>
	</div>
	<div class="mod-tab-bd J_content">
		<div class="mod-tab-content">
			<ul class="m-list--news">
				<li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
				<li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
				<li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
				<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
				<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
				<li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
				<li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
				<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
				<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
			</ul>
		</div>
		<div class="mod-tab-content hide">
			...
		</div>
		<div class="mod-tab-content hide">
			...
		</div>
	</div>
</div>