<div class="ZQ__foot">
    <!-- 网站地图{ -->
    <div class="ZQ__map">
        <div class="inner">
            <div class="map-list">
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻官方新闻官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
            </div>
            <!-- 搜索 - 标识{ -->
            <div class="foot-action">
                <a href="" class="duowan" title="多玩游戏网">多玩游戏网</a>
                <form id="form-search2" method="get" action="http://soso.duowan.com/s" target="_blank" accept-charset="utf-8">
                    <div class="search">
                        <input type="text" name="word" id="" placeholder="请输入关键字...">
                        <a href="javascript:void(0)" onclick="javascript:document.getElementById('form-search2').submit()" title="搜索" class="submit">搜索</a>
                    </div>
                </form>
                <p>
                    <a class="connect" href="">联系我们</a>
                    <a class="que" href="">疑难问答</a>
                </p>
            </div>
            <!-- }搜索 - 标识 -->
        </div>
    </div>
    <!-- }网站地图 -->
    <div class="ZQ__friend">
        <div class="inner">
            <p class="link">
                <span class="label"><em>友情链接</em></span>
                <a href="">5253手游网</a><a href="">多玩风暴英雄</a><a href="">多玩DNF</a><a href="">NEOTV LOL</a><a href="">NEOTV LOL</a><a href="">LOL图片</a><a href="">5253手游网</a><a href="">多玩风暴英雄</a><a href="">多玩DNF</a><a href="">NEOTV LOL</a><a href="">NEOTV LOL</a><a href="">LOL图片</a><a href="">5253手游网</a><a href="">多玩风暴英雄</a><a href="">多玩DNF</a><a href="">NEOTV LOL</a><a href="">NEOTV LOL</a><a href="">LOL图片</a>
            </p>
        </div>
    </div>
    <% include duowan-siteinfo %>
</div>