@charset "utf-8";
/*
 *@ Name:       Carousel旋转木马基础UI模块
 *@ Update:     2014-11-30 15:03:02
 */
 
/* ===基类=== */
$carousel-x-width: 680px; // 主体宽度
$carousel-x-height: 100px; // 主体高度

.ui-carousel--horizontal {
    position: relative;
    .ui-carousel__content {
        height: $carousel-x-height;
        margin-right: -20px;
    }
    .ui-carousel__scroller {
        width: $carousel-x-width;
        height: $carousel-x-height;
        margin: 0 auto;
        overflow: hidden;
    }
    .ui-carousel__panel {
        float: left;
        width: 340px;
        height: $carousel-x-height;
        margin-right: 10px;
    }
    .ui-carousel__prev,
    .ui-carousel__next {
        position: absolute;
        top: 0;
        width: 30px;
        height: 100px;
        cursor: pointer;
        background-color: #ddd;
    }
    .ui-carousel__prev {
        left: 0;
        &.is-disabled {
           background-color: #eee;
           color: #ccc;
           cursor: default;
        }
    }
    .ui-carousel__next {
        right: 0;
        &.is-disabled {
           background-color: #eee;
           color: #ccc;
           cursor: default;
        }
    }
}
.ui-carousel__prev,
.ui-carousel__next {
    cursor: pointer;
    text-align: center;
    background-color: #ddd;
    &.is-disabled {
        background-color: #eee;
        color: #ccc;
        cursor: default;
    }
}
.ui-carousel__controller {
    margin-top: 5px;
    text-align: center;
    .ui-carousel__prev {
        margin-right: 5px;
    }
}


/* ===扩展类（纵向）=== */
$carousel-y-width: 300px;  // 主体宽度
$carousel-y-height: 110px; // 主体高度
.ui-carousel--vertical {
    width: $carousel-y-width;
    .ui-carousel__scroller {
        width: $carousel-y-width;
        height: $carousel-y-height;
        overflow: hidden;
    }
    .ui-carousel__panel {
        height: 50px;
        padding: 5px 0;
    }
}
