@charset "utf-8";
/*
 *@ Name:       tab基础模块
 *@ Update:     2014-11-14 14:23:07
 */
 

/* ===基类=== */
.ui-tab {
	
}
.ui-tab__hd {
    position: relative;
}
.ui-tab__ext {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}
.ui-tab__nav {
    font-size: 0; /* 所有浏览器 */
    *word-spacing: -1px; /* IE6/7 */
    border-bottom: 1px solid #E5E5E5;
}
@media (-webkit-min-device-pixel-ratio:0) {
    .ui-tab__nav {
        letter-spacing: -5px; /* Safari 5- 等不支持 font-size: 0 的浏览器*/
    }
}
.ui-tab__trigger {
    @include inline-block;
	vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    margin-right: 3px;
    height: 32px;
	line-height: 32px;
    font-size: 14px;
    border: 1px solid #E5E5E5;
	border-bottom: 0;
	background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    &.is-active {
		position: relative;
		margin-bottom: -1px;
		padding-bottom: 1px;
	    font-weight: 700;
	}
    a {
    	display: block;
    	padding: 0 10px;
        color: #333;
    }
}
.ui-tab__content {
    
}
