<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="多玩游戏">
    <meta name="description" content="">
    <title> 一线专区模板 </title>
    <link href="css/global.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <script src="http://assets.dwstatic.com/common/js/jquery.js"></script>
    <script src="http://assets.dwstatic.com/b=lego/2.0.0/js&f=lego.switchable.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <!-- 专区{ -->
    <div class="ZQ" id="ZQ">
        <!-- 专区导航{ -->
        <% include partial/zq-head %>
        <!-- }专区导航 -->
        <!-- 专区内容{ -->
        <div class="ZQ__body">
            <!-- 首页首屏{ -->
            <% include partial/index-focus %>
            <!-- }首页首屏 -->
            <!-- 游戏推荐{ -->
            <% include partial/index-guide %>
            <!-- }游戏推荐 -->
            <!-- 游戏职业{ -->
            <% include partial/index-job %>
            <!-- }游戏职业 -->
            <!-- 游戏视频{ -->
            <% include partial/game-video %>
            <!-- }游戏视频 -->
            <!-- 游戏截图{ -->
            <% include partial/game-cut %>
            <!-- }游戏截图 -->
            <!-- 职业攻略{ -->
            <% include partial/index-jobguide %>
            <!-- }职业攻略 -->
            <!-- 专区文章{ -->
            <% include partial/index-text %>
            <!-- }专区文章 -->
        </div>
        <!-- }专区内容 -->

        <!-- 专区底部{ -->
        <% include partial/zq-foot %>
        <!-- }专区底部 -->
    </div>
    <!-- }专区 -->
</body>
</html>
