<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="多玩游戏">
    <meta name="description" content="">
    <title> 一线专区模板 </title>
    <link href="css/global.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <script src="http://assets.dwstatic.com/common/js/jquery.js"></script>
    <script src="http://assets.dwstatic.com/b=lego/2.0.0/js&f=lego.switchable.js"></script>
</head>
<body>
    <!-- 专区{ -->
    <div class="ZQ" id="ZQ">
        <% include partial/duowan-nav %>
        <!-- 专区导航{ -->
        <% include partial/zq-head %>
        <!-- }专区导航 -->
        <!-- 专区内容{ -->
        <div class="ZQ__body">
        	<div class="ZQ-row">
	        	<!-- 图片列表{ -->
	        	<div class="ZQ-71-51">
                    <div class="ZQ-page ZQ-page--video">
                        <!-- 面包屑导航{ -->
                        <div class="mod-crumbs">
                            <a class="back-to-index" href="#"><i></i>多玩首页</a><span class="arrow">»</span><a href="/">某专区</a><span class="arrow">»</span><b>某文章标题</b>
                        </div>
                        <!-- }面包屑导航 -->
                        <ul class="mod-pic--video">
                            <li><a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:20</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a></li>
                            <li><a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:20</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a></li>
                            <li><a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:20</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a></li>
                            <li><a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:20</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a></li>
                            <li><a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:20</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a></li>
                            <li><a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:20</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a></li>
                            <li><a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:20</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a></li>
                            <li><a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:20</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a></li>
                            <li><a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:20</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a></li>
                            <li><a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:20</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a></li>
                        </ul>
                        <!-- 页码{ -->
                        <div id="pageNum"><span id="pageNow"><a target="_self" href="#">1</a></span><span><a target="_self" href="m_279822281806_2.html">2</a></span><span><a target="_self" href="m_279822281806_3.html">3</a></span><span><a target="_self" href="m_279822281806_4.html">4</a></span><span><a target="_self" href="m_279822281806_5.html">5</a></span><span><a target="_self" href="m_279822281806_6.html">6</a></span><span><a target="_self" href="m_279822281806_7.html">7</a></span><span><a target="_self" href="m_279822281806_8.html">8</a></span><span><a target="_self" href="m_279822281806_9.html">9</a></span><span><a target="_self" href="m_279822281806_2.html">下一页</a></span></div>
                        <!-- }页码 -->
                        
                    </div>
	        	</div>
	        	<!-- }图片列表 -->
	        	<!-- 内页侧边栏{ -->
				<div class="ZQ-71-19">
					<% include partial/page-aside %>
				</div>
	        	<!-- }内页侧边栏 -->
        	</div>
        </div>
        <!-- }专区内容 -->

        <!-- 专区底部{ -->
        <% include partial/zq-foot %>
        <!-- }专区底部 -->
    </div>
    <!-- }专区 -->
</body>
</html>
