.m-bottombar{ 
	position: fixed; 
	bottom: 0px; 
	left: 0px; 
	width: 100%; 
	height:44px; 
	border-top: 1px solid #D0D0D0;
	display: -webkit-box;
	background-color: #E9E9E9;
	border-bottom-width: 0;
	line-height: 1.1em;
	  -webkit-box-orient: horizontal;
	          box-orient: horizontal;
	a{
		padding-top: 5px;
		display:block;
		text-align: center;
		color:#666666;
		font-size: pxToRem(14);
		min-width: 3em;
		-webkit-box-flex: 1;
		      box-flex: 1;
		&:before{
			font-family: 'lego';
			font-size: pxToRem(20);
			display:block;
			padding-bottom: 2px;
		}
		&.current{
			background-color: #3C9DEE;
			.icon{
				color: #fff;
			}
		}
		&:active{
			background-color: #3C9DEE;
			color: #fff;
			.icon,&:before{
				color: #fff;
			}
		}
	}
}
