@charset "UTF-8";
//
.mod-art {
	li {
		overflow: hidden;
		height: 24px;
		line-height: 24px;
		padding-left: 10px;
		background: url(../img/icon_li.png) no-repeat 0 12px;
		.date{
			float: right;
			margin-left: 4px;
			color: #666;
		}
		.tag {
			margin-right: 10px;
			color: #F60;
		}
	}
}
