@charset "utf-8";

.m-tab__cont{ 
	overflow:hidden; 
	position: relative;
}
.m-tab__cont__item{
	float: left;
	position: relative;
	-webkit-box-sizing: border-box;
}

.m-tab{
	width: 100%;
	overflow: hidden;
	padding-top: 44px;
}

.m-tab__nav{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	@include webkitbox();
	border-bottom: 1px solid #D1D1D1;
	>a{
		display: block;
		@include flex(1);
		text-align: center;
		height: 43px;
		line-height: 43px;
		color: #666666;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: -1px;
			left: 0px;
			width: 100%;
			height: 0px;
			background-color: #3D9DEE;
			-webkit-transition-property:all;
			transition-duration: 150ms;
			transition-timing-function: ease-in-out;
		}
		&.current{
			color: #3D9DEE;
			&:before{
				height: 3px;
			}
		}
	}
}
