@charset "utf-8";

// 引入工具类
@import "_tool";

/* 全局设置 */
*,
*:before,
*:after{
	font-family: "Microsoft YaHei","微软雅黑",Helvetica, "Droid Sans", sans-serif;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/* 设置基本body样式 */
body{
	margin: 0 auto;
	padding: 0;
	max-width: 640px;
	min-width: 320px;
	color: #333;
	font-size: 12px;
}

/* 设置图片最大宽度 */
img{
	max-width: 100%;
}

/* 清除默认按钮表现形式 */
button{
	-webkit-appearance: none;
			appearance: none;
}

/* 设置表格默认样式 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 文本域禁止拖拉放大 */
textarea {
	resize: none;
}
