@charset "utf-8";

// 引入重置样式
@import "_normalize";

// 引入工具类
@import "_tool";

/* 全局设置 */
*,
*:before,
*:after{
	font-family: "Microsoft YaHei","微软雅黑",Helvetica, "Droid Sans", sans-serif;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/* 设置基本body样式 */
body{
	margin: 0 auto;
	padding: 0;
	max-width: 640px;
	min-width: 320px;
	color: #333;
	font-size: 12px;
}

/* 设置图片最大宽度 */
img{
	max-width: 100%;
}

/* 清除默认按钮表现形式 */
button{
	-webkit-appearance: none;
			appearance: none;
}

/* 设置表格默认样式 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 文本域禁止拖拉放大 */
textarea {
	resize: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

img {
    vertical-align: top;
}

i, em {
    font-style: normal;
}

ol, ul, li, menu {
    list-style: none outside none;
}

fieldset, iframe, abbr, acronym {
    border: 0 none;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, hr,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}

del {
    text-decoration:line-through;
}
