@charset "utf-8";
/*
 *@name:   轮播文字条基础UI模块
 *@update: 2014-12-03 23:42:06
 */
 
/* ===基类=== */
$panelXWidth: 300px; // 手风琴宽度
$panelXHeight: 150px; // panel高度

.ui-scrolltxt--horizontal {
  
}


/* ===扩展类（纵向）=== */
$triggerYWidth: 18px; // 激活项边框宽度
$panelYWidth: 300px; // 激活项边框宽度
$panelYHeight: 300px; // panel高度

.ui-scrolltxt--vertical {
 
}