<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="多玩游戏">
    <meta name="description" content="">
    <title> 一线专区模板 </title>
    <link href="css/global.css" rel="stylesheet">
</head>
<body>
    <!-- 专区{ -->
    <div class="ZQ" id="ZQ">
        <% include partial/duowan-nav %>
        <!-- 专区导航{ -->
        <% include partial/zq-head %>
        <!-- }专区导航 -->
        <!-- 专区内容{ -->
        <div class="ZQ__body">
        	<div class="ZQ-row">
	        	<!-- 文章页{ -->
	        	<div class="ZQ-71-51">
                    <div class="ZQ-page ZQ-page--article">
                        <!-- 面包屑导航{ -->
                        <div class="mod-crumbs">
                            <a class="back-to-index" href="#"><i></i>多玩首页</a><span class="arrow">»</span><a href="/">某专区</a><span class="arrow">»</span><b>某文章标题</b>
                        </div>
                        <!-- }面包屑导航 -->
                        <h1>根本停不下来 疾风之刃魔影师超理想连招</h1>
                        <address>
                            [<span> 2014-11-12 11:27:29 </span><span class="comment"><a href="#comment_top" id="first_comment_url" target="_self">网友评论<span id="first_comment_count">3</span>条</a></span> <span>来源：优酷</span> <span>作者：彭哥列第十代</span> <span><a href="http://bbs.duowan.com/forum-1624-1.html">进入论坛</a></span>]
                        </address>

                        <blockquote class="summary">
                            <span class="label">小编前言</span>
                            <p>哈喽小伙伴们，新的一期手游抢鲜看和大家见面啦！本期节目同样是猛料多多哟！EA出品经典模拟城市登陆手机双平台，吼吼！我是要成为市长的男人~</p>
                        </blockquote>

                        <% include partial/article %>

                        <div id="share-links">
                            <!-- 社交站分享{ -->
                            <!-- 百度分享{ -->
                            <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1415939419529">
                                <span>分享到：</span>
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                <a href="#" class="bds_more" data-cmd="more"></a>
                            </div>
                            <script>
                            window._bd_share_config = {
                                "common": {
                                    "bdSnsKey": {
                                        "tsina": "4079905110",
                                        "tqq": "42d33144240e4386a43ee39629560564"
                                    },
                                    "bdText": "",
                                    "bdMini": "2",
                                    "bdMiniList": false,
                                    "bdPic": "",
                                    "bdStyle": "0",
                                    "bdSize": "16"
                                },
                                "share": {}
                            };
                            with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                            </script>
                            <style>
                            .bdsharebuttonbox {
                                float: right !important;
                                _display: inline;
                                padding-right: 10px;
                                height: 20px;
                                line-height: 20px;
                                overflow: hidden;
                            }
                            .bdsharebuttonbox a {
                                position: relative;
                                top: -4px;
                            }
                            .bdsharebuttonbox span {
                                float: left;
                                _display: inline;
                            }
                            </style>
                            <!-- }百度分享 -->
                          <!--   <script type="text/javascript">
                                var thisTitle =encodeURIComponent('FF14深夜独11111是打测试文章');
                                showQqWeibo(thisTitle);
                                shareToSina(thisTitle);
                                shareTokaixin001(thisTitle);
                                shareTorenren(thisTitle);
                                shareToQq(thisTitle);
                            </script> -->
                            <!-- }社交站分享 -->
                        </div>

                    </div>
                    <div class="ZQ-gap"></div>
                    <!-- 新闻{ -->
                    <div class="ZQ-box ZQ-gameread">
                        <div class="box-hd">
                            <h3 class="title">游戏攻略</h3>
                            <div class="act">
                                <a class="more" href="#"><i></i>更多</a>
                            </div>
                        </div>
                        <div class="box-bd">
                            <ul class="m-list">
                                <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                                <li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                                <li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                                <li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                                <li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                                <li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- }新闻 -->
                    <div class="ZQ-gap"></div>
                    <div class="ZQ-row ZQ-page--article">
                        <div class="ZQ-71-25">
                            <div class="m-tab m-tab--weekly" id="">
                                <div class="mod-tab-hd">
                                    <h3 class="mod-tab-title">综合攻略</h3>
                                </div>
                                <div class="mod-tab-bd J_content">
                                    <div class="mod-tab-content">
                                        <ul class="m-list--news">
                                            <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                                            <li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                                            <li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                                            <li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                                            <li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                                            <li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                                            <li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                                            <li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ZQ-71-25">
                            <!-- 轮播图{ -->
                            <div id="slider1" class="index-slide">
                                <div class="mod-slide-content">
                                    <ul class="J_content">
                                        <li><a href="#"><img alt="" src="http://art.yypm.com/400x300x1"></a></li>
                                        <li><a href="#"><img alt="" src="http://art.yypm.com/400x300x2"></a></li>
                                        <li><a href="#"><img alt="" src="http://art.yypm.com/400x300x3"></a></li>
                                    </ul>
                                </div>
                                <ul class="mod-slide-trigger J_nav">
                                    <li class="selected"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                </ul>
                            </div>
                            <!-- }轮播图 -->
                        </div>
                    </div>
                    <div class="ZQ-gap"></div>

                    <!-- }通用评论 -->
                    <div id="comment_frame">
                        <script>
                        // 指定某篇文章的评论
                        var comment3Uniqid = '250085e23dbe5891c39070154e378070';
                        </script>
                        <script src="http://comment3.duowan.com/scripts/comments.js"></script>
                    </div>
                    <!-- }通用评论 -->

	        	</div>
	        	<!-- }文章页 -->
	        	<!-- 内页侧边栏{ -->
				<div class="ZQ-71-19">
					<% include partial/page-aside %>
				</div>
	        	<!-- }内页侧边栏 -->
        	</div>
        </div>
        <!-- }专区内容 -->

        <!-- 专区底部{ -->
        <% include partial/zq-foot %>
        <!-- }专区底部 -->
    </div>
    <!-- }专区 -->
</body>
    <script src="http://assets.dwstatic.com/common/js/jquery.js"></script>
    <script src="http://assets.dwstatic.com/b=lego/2.0.0/js&f=lego.switchable.js"></script>
    <script src="js/main.js"></script>
   <script>
    LEGO.slide("#slider1", {effect: "scrollY"} );
    //格式文章页图片
    ZQ.imageLightbox();
    </script>
</html>
