<!doctype html>
<html>
<head>
    <% include partial/head %>
</head>
<body>
<!-- 站点导航{ -->
<script type="text/javascript" src="http://www.duowan.com/public/s/i/navbar/navbar.js?20120215"></script>
<!-- }站点导航 -->


    <!-- 专题主体{ -->

        <div id="doc">
            <!-- 专区头部{ -->
            <% include  partial/header %>
            <!-- }专区头部 -->


            <!-- 专区主要内容{ -->
            <div class="layout">
                <div class="blank10 layout-hd"></div>
                
                    <!-- 文章内容{ -->
                    <div id="full-article" class="box m-newsbox">
                        <div class="box-hd">
                            <i class="icon"></i>
                            <!-- 面包屑导航{ -->
                            <div class="mod-crumbs">
                                <div class="mod-crumbs-bd">
                                    <b>您的当前位置：</b><a href="http://www.duowan.com/">多玩首页</a><span>&gt;</span><a target="_self" href="http://c9.duowan.com/" title="C9第九大陆专区">C9第九大陆专区</a><span>&gt;</span><a href="http://ffo.duowan.com/tag/269344665332.html">HXSY资料文章自用</a> <span>&gt;</span>《幻想神域》预创建火爆 提前加开服务器123
                                </div>
                            </div>
                            <!-- }面包屑导航 -->
                        </div>
                        <div class="box-bd">
                            <!-- 文章内容{ -->
                            <% include partial/article %>
                            <!-- }文章内容 -->
                        </div>
                    </div>
                    <!-- }文章内容 -->
                    <div class="blank10"></div>

                    <!-- 图片列表{ -->
                    <div class="box m-newsbox m-gameshotcut-large g-c22 fl mr10">
                        <div class="box-hd">
                            <i class="icon"></i>
                            <h3 class="title">最新视频</h3>
                            <div class="act">
                                <a class="more" href="/tag/269285536260.html">»更多</a>
                            </div>
                        </div>
                        <div class="box-bd">
                            <ul class="mod-pic">
                                <li><a href="/1407/269537876084.html"><img alt="幻想神域版小苹果" title="幻想神域版小苹果" src="http://img.dwstatic.com/ffo/1407/269537876084/1405582720159.jpg"><em>幻想神域版小苹果</em></a></li>
                                <li><a href="/1407/269537828545.html"><img alt="幻想神域双手斧单刷漩涡深渊" title="幻想神域双手斧单刷漩涡深渊" src="http://img.dwstatic.com/ffo/1407/269537828545/1405582673362.jpg"><em>幻想神域双手斧单刷漩涡深渊</em></a></li>
                                <li><a href="/1407/269537763464.html"><img alt="亚洲第一动漫网游《幻想神域》开场CG" title="亚洲第一动漫网游《幻想神域》开场CG" src="http://img.dwstatic.com/ffo/1407/269537763464/1405582625761.jpg"><em>亚洲第一动漫网游《幻想神域》开场CG</em></a></li>
                                <li><a href="/1407/269537717065.html"><img alt="仙剑秦时明月领衔 集结全亚洲动漫明星" title="仙剑秦时明月领衔 集结全亚洲动漫明星" src="http://img.dwstatic.com/ffo/1407/269537717065/1405582560729.jpg"><em>仙剑秦时明月领衔 集结全亚洲动漫明星</em></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- }图片列表 -->

                    <!-- 推荐新闻{ -->
                    <div class="box m-newsbox m-gamebbs g-c11 fl">
                        <div class="box-hd">
                            <i class="icon"></i>
                            <h3 class="title">推荐新闻</h3>
                            <div class="act">
                                <a class="more" href="#">更多»</a>
                            </div>
                        </div>
                        <div class="box-bd">
                            <ul class="list-article">
                               <li><i></i><span class="date">07-17</span><a href="/1407/269537133534.html" title="《幻想神域》预创建火爆 提前加开服务器">《幻想神域》预创建火爆 提前加开服务器</a></li>
                               <li><i></i><span class="date">07-17</span><a href="/1407/269537071124.html" title="《幻想神域》7月18日更新维护 公测版本启航">《幻想神域》7月18日更新维护 公测版</a></li>
                               <li><i></i><span class="date">07-16</span><a href="/1407/269462056531.html" title="幻想神域公会系统新手教程 各功能介绍">幻想神域公会系统新手教程 各功能介绍</a></li>
                               <li><i></i><span class="date">07-16</span><a href="/1407/269461954873.html" title="《幻想神域》公测只为你 良心缔造卓越品质">《幻想神域》公测只为你 良心缔造卓越品</a></li>
                               <li><i></i><span class="date">07-16</span><a href="/1407/269449578828.html" title="暗黑刺杀者 《幻想神域》双刀秒杀一切敌人">暗黑刺杀者 《幻想神域》双刀秒杀一切敌</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- }推荐新闻 -->

                    <div class="blank10"></div>

                    <!-- 表情{ -->
                    <div class="g-c22 fl mr10">
                        <% include partial/mood %>
                    </div>
                    <!-- }表情 -->

                    <!-- 推荐新闻{ -->
                    <div class="box m-newsbox m-gamebbs g-c11 fl">
                        <div class="box-hd">
                            <i class="icon"></i>
                            <h3 class="title">推荐新闻</h3>
                            <div class="act">
                                <a class="more" href="#">更多»</a>
                            </div>
                        </div>
                        <div class="box-bd">
                            <ul class="list-article">
                               <li><i></i><span class="date">07-17</span><a href="/1407/269537133534.html" title="《幻想神域》预创建火爆 提前加开服务器">《幻想神域》预创建火爆 提前加开服务器</a></li>
                               <li><i></i><span class="date">07-17</span><a href="/1407/269537071124.html" title="《幻想神域》7月18日更新维护 公测版本启航">《幻想神域》7月18日更新维护 公测版</a></li>
                               <li><i></i><span class="date">07-16</span><a href="/1407/269462056531.html" title="幻想神域公会系统新手教程 各功能介绍">幻想神域公会系统新手教程 各功能介绍</a></li>
                               <li><i></i><span class="date">07-16</span><a href="/1407/269461954873.html" title="《幻想神域》公测只为你 良心缔造卓越品质">《幻想神域》公测只为你 良心缔造卓越品</a></li>
                               <li><i></i><span class="date">07-16</span><a href="/1407/269449578828.html" title="暗黑刺杀者 《幻想神域》双刀秒杀一切敌人">暗黑刺杀者 《幻想神域》双刀秒杀一切敌</a></li>
                               <li><i></i><span class="date">07-16</span><a href="/1407/269449546739.html" title="吸血鬼骑士？ 揭密《幻想神域》源神巴德尔">吸血鬼骑士？ 揭密《幻想神域》源神巴德</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- }推荐新闻 -->
                    <div class="blank10"></div>

                    <!-- 评论{ -->
                    <div id="commentList">
                        <script>var comment3Uniqid = '53d5ebf4f7de30cb1333a69b0834febe';</script><a name="comment_top"></a><div id="comment_frame"><div class="dw-comment-ctn dw-comment-skin_white"><div class="dw-comment-box dw-comment-view-ctn"><div class="view_list"><span class="comment-more_view  comment-more_packdown" style="display:none;">更多<i></i></span><span class="comment-more_view comment-more_packup" style="display:none;">收起<i></i></span></div><div class="view_action_bar"> <label for="dw-comment-view"></label> <p class="search_ctn"> <input type="text" onkeydown="return DWComment3.tucaoCount(this,event)" class="dw-comment-view" name="dw-comment-view" id="dw-comment-view"><input class="submit comment3_tucao_btn" type="button" onclick="DWComment3.addTucao()" value="吐槽"></p>  </div> </div><div class="dw-comment-box dw-comment-comments-ctn"><h3>参与评论<span class="total_num">(<em>1</em>条)</span><div class="dw-comment-activity-link fr"><a href="http://pai.duowan.com" target="_bank">多玩发福利，Q币每天送不停！</a></div></h3><div class="dw-comment-post-ctn"><div class="textarea_ctn" name="comment"><textarea onkeyup="javascript:DWComment3.commentLength(this,'.out_num')" name="comment" class="dw-comment-post " id="dw-comment-post" cols="30" rows="10"></textarea></div><div class="dw-comment-post-foot"><p class="user-info"><img height="20" width="20" onerror="this.onerror=null;this.src='http://att.bbs.duowan.com/avatar/noavatar_small.jpg'" src="http://avatar.bbs.duowan.com/043/88/09/58_avatar_small.jpg"><span class="name">petsa</span> 欢迎你<a target="_self" href="javascript:DWComment3.logOut()">[退出]</a></p><div class="dw-comment-post-action"><div class="comment-expression"><span class="note out_num"></span><a target="_self" href="javascript:void(0)" class="dw-comment-expression-btn"><img src="http://comment3.duowan.com/img/icon_expression.png" alt="" target="_self"></a></div><span class="out_num_submit"><input class="submit not_login" disabled="disabled" type="submit" onclick="javascript:DWComment3.addCom();" value="发表评论"></span></div></div></div><div class="first-mod-log"><div class="mod-msg " style="display:none"><i class="icon"></i><p>评论发表失败！</p><span class="btn-close J_btnClose" title="关闭" onclick="javascrpt:DWComment3.Close()">×</span></div></div><div class="dw-comment-sequence"><a class="comment3_sort_hot selected" target="_self" href="javascript:DWComment3.getComment('hot');">热门评论</a><a target="_self" class="comment3_sort_time " href="javascript:DWComment3.getComment('time');">最新评论</a></div><div class="comment_ul"><ul class="dw-comment-comment_list"><li class="comment-list_item" name="com_7007c94c0e8f64c410579dace7f1d916"><a class="comment-author_pic"><img height="50" width="50" onerror="this.onerror=null;this.src='http://att.bbs.duowan.com/avatar/noavatar_small.jpg'" src="http://att.bbs.duowan.com/avatar/noavatar_small.jpg" alt=""></a><div class="comment_content"><p class="comment_info"><span class="author"><a style="text-decoration: none;">多玩苏州网友</a></span></p><p class="comment_text">《幻想神域》预创建火爆 提前加开服务器</p><div class="comment_action"><div class="post_time"><span class="info_day">38分钟前</span></div><span class="comment_contrl_support view_up " style="" onclick="javascript:DWComment3.addVote('7007c94c0e8f64c410579dace7f1d916','1405587134')"><a style="cursor:pointer" class="comment-support" alt="顶"></a><span class="comment_support " style="display:none;">(<em>0</em>)</span></span>&nbsp;&nbsp;<span class="comment_contrl_oppose view_down " style="" onclick="javascript:DWComment3.addOppose('7007c94c0e8f64c410579dace7f1d916','1405587134')"><a style="cursor:pointer" class="comment-oppose" alt="踩"></a><span class="comment_oppose " style="display:none;">(<em>0</em>)</span></span>&nbsp;&nbsp;<a target="_self" href="javascript:DWComment3.onShowRpy('com_rpy_7007c94c0e8f64c410579dace7f1d916')" class="comment-reply">回复</a><span class="comment_reply_total " style="display:none;">(<em>0</em>)</span></div><div class="dw-comment-reply_post-ctn " style="display:none;" name="com_rpy_7007c94c0e8f64c410579dace7f1d916"><div class="textarea_ctn"><textarea name="" class="dw-comment-reply_post" id="dw-comment-reply_post" cols="30" rows="10" onkeyup="javascript:DWComment3.commentLength(this,'.out_num_7007c94c0e8f64c410579dace7f1d916')"></textarea></div><div class="dw-comment-reply_post-foot"><p class="user-info fl"><img height="20" width="20" onerror="this.onerror=null;this.src='http://att.bbs.duowan.com/avatar/noavatar_small.jpg'" src="http://avatar.bbs.duowan.com/043/88/09/58_avatar_small.jpg"><span class="name">petsa</span> 欢迎你<a target="_self" href="javascript:DWComment3.logOut()">[退出]</a></p><div class="dw-comment-reply_post-action"><div class="comment-expression"><span class="note out_num_7007c94c0e8f64c410579dace7f1d916"></span><a target="_self" href="javascript:void(0)" class="dw-comment-expression-btn"><img src="http://comment3.duowan.com/img/icon_expression.png" alt="表情"></a></div><span class="out_num_7007c94c0e8f64c410579dace7f1d916_submit"><input class="submit not_login" type="submit" value="回复" onclick="javascript:DWComment3.addRpy('com_7007c94c0e8f64c410579dace7f1d916','7007c94c0e8f64c410579dace7f1d916')" disabled="disabled"></span></div></div></div></div></li></ul><a target="_self" href="javascript:DWComment3.onMoreCom(10)" class="dw-comment-more_comment" style="display: none;">查看更多精彩评论» </a></div><div class="comment-empty-desc center " style="display:none;">沙发空缺中，快来抢吧~</div><p class="dw-comment-ps_note"><em>注：</em>网友评论仅供表达个人看法，并不表达本站同意其观点或证实其描述</p></div><div id="comment-expression-popu" class="comment-expression-popu"><a href="" class="arrow"></a><div class="content"><ul class="expression-list"><li><a target="_self" href="javascript:DWComment3.addMood('[微笑]')"><img src="http://comment3.duowan.com/img/mood/01.gif" alt="[微笑]" title="微笑"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[偷笑]')"><img src="http://comment3.duowan.com/img/mood/02.gif" alt="[偷笑]" title="偷笑"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[调皮]')"><img src="http://comment3.duowan.com/img/mood/03.gif" alt="[调皮]" title="调皮"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[大笑]')"><img src="http://comment3.duowan.com/img/mood/04.gif" alt="[大笑]" title="大笑"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[可爱]')"><img src="http://comment3.duowan.com/img/mood/05.gif" alt="[可爱]" title="可爱"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[害羞]')"><img src="http://comment3.duowan.com/img/mood/06.gif" alt="[害羞]" title="害羞"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[花痴]')"><img src="http://comment3.duowan.com/img/mood/07.gif" alt="[花痴]" title="花痴"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[憨笑]')"><img src="http://comment3.duowan.com/img/mood/08.gif" alt="[憨笑]" title="憨笑"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[得意]')"><img src="http://comment3.duowan.com/img/mood/09.gif" alt="[得意]" title="得意"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[酷]')"><img src="http://comment3.duowan.com/img/mood/10.gif" alt="[酷]" title="酷"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[大兵]')"><img src="http://comment3.duowan.com/img/mood/11.gif" alt="[大兵]" title="大兵"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[怒火]')"><img src="http://comment3.duowan.com/img/mood/12.gif" alt="[怒火]" title="怒火"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[傲慢]')"><img src="http://comment3.duowan.com/img/mood/13.gif" alt="[傲慢]" title="傲慢"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[奋斗]')"><img src="http://comment3.duowan.com/img/mood/14.gif" alt="[奋斗]" title="奋斗"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[敲打]')"><img src="http://comment3.duowan.com/img/mood/15.gif" alt="[敲打]" title="敲打"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[难过]')"><img src="http://comment3.duowan.com/img/mood/16.gif" alt="[难过]" title="难过"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[汗]')"><img src="http://comment3.duowan.com/img/mood/17.gif" alt="[汗]" title="汗"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[撇嘴]')"><img src="http://comment3.duowan.com/img/mood/18.gif" alt="[撇嘴]" title="撇嘴"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[大哭]')"><img src="http://comment3.duowan.com/img/mood/19.gif" alt="[大哭]" title="大哭"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[白眼]')"><img src="http://comment3.duowan.com/img/mood/20.gif" alt="[白眼]" title="白眼"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[惊讶]')"><img src="http://comment3.duowan.com/img/mood/21.gif" alt="[惊讶]" title="惊讶"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[发呆]')"><img src="http://comment3.duowan.com/img/mood/22.gif" alt="[发呆]" title="发呆"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[晕]')"><img src="http://comment3.duowan.com/img/mood/23.gif" alt="[晕]" title="晕"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[石化]')"><img src="http://comment3.duowan.com/img/mood/24.gif" alt="[石化]" title="石化"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[衰]')"><img src="http://comment3.duowan.com/img/mood/25.gif" alt="[衰]" title="衰"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[骷髅]')"><img src="http://comment3.duowan.com/img/mood/26.gif" alt="[骷髅]" title="骷髅"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[闭嘴]')"><img src="http://comment3.duowan.com/img/mood/27.gif" alt="[闭嘴]" title="闭嘴"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[呕吐]')"><img src="http://comment3.duowan.com/img/mood/28.gif" alt="[呕吐]" title="呕吐"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[嘘]')"><img src="http://comment3.duowan.com/img/mood/29.gif" alt="[嘘]" title="嘘"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[口罩]')"><img src="http://comment3.duowan.com/img/mood/30.gif" alt="[口罩]" title="口罩"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[拜拜]')"><img src="http://comment3.duowan.com/img/mood/31.gif" alt="[拜拜]" title="拜拜"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[睡觉]')"><img src="http://comment3.duowan.com/img/mood/32.gif" alt="[睡觉]" title="睡觉"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[疑问]')"><img src="http://comment3.duowan.com/img/mood/33.gif" alt="[疑问]" title="疑问"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[鼻涕泡]')"><img src="http://comment3.duowan.com/img/mood/34.gif" alt="[鼻涕泡]" title="鼻涕泡"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[猪头]')"><img src="http://comment3.duowan.com/img/mood/35.gif" alt="[猪头]" title="猪头"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[抱抱]')"><img src="http://comment3.duowan.com/img/mood/36.gif" alt="[抱抱]" title="抱抱"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[菜刀]')"><img src="http://comment3.duowan.com/img/mood/37.gif" alt="[菜刀]" title="菜刀"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[炸弹]')"><img src="http://comment3.duowan.com/img/mood/38.gif" alt="[炸弹]" title="炸弹"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[闪电]')"><img src="http://comment3.duowan.com/img/mood/39.gif" alt="[闪电]" title="闪电"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[玫瑰]')"><img src="http://comment3.duowan.com/img/mood/40.gif" alt="[玫瑰]" title="玫瑰"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[凋谢]')"><img src="http://comment3.duowan.com/img/mood/41.gif" alt="[凋谢]" title="凋谢"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[吻]')"><img src="http://comment3.duowan.com/img/mood/42.gif" alt="[吻]" title="吻"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[红心]')"><img src="http://comment3.duowan.com/img/mood/43.gif" alt="[红心]" title="红心"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[心碎]')"><img src="http://comment3.duowan.com/img/mood/44.gif" alt="[心碎]" title="心碎"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[礼物]')"><img src="http://comment3.duowan.com/img/mood/45.gif" alt="[礼物]" title="礼物"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[便便]')"><img src="http://comment3.duowan.com/img/mood/46.gif" alt="[便便]" title="便便"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[赞]')"><img src="http://comment3.duowan.com/img/mood/47.gif" alt="[赞]" title="赞"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[鄙视]')"><img src="http://comment3.duowan.com/img/mood/48.gif" alt="[鄙视]" title="鄙视"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[握手]')"><img src="http://comment3.duowan.com/img/mood/49.gif" alt="[握手]" title="握手"></a></li><li><a target="_self" href="javascript:DWComment3.addMood('[耶]')"><img src="http://comment3.duowan.com/img/mood/50.gif" alt="[耶]" title="耶"></a></li></ul></div></div></div><div class="dw-comment-modal nickname-setting" style="display:none"><div class="dw-comment-modal-hd"><h3>昵称设置</h3><i title="关闭" onclick="javascript:DWComment3.loginColse();">×</i></div><div class="dw-comment-modal-bd"> <form action="about:blank" method="get" autocomplete="off" novalidate="" accept-charset="utf-8">    <div><label>昵称：</label><input type="text" class="dw-comment-nickname" placeholder="用户名3到15个字符"><p></p></div> <div class="dw-comment-modal-btns">  <button type="button" title="确定" class="dw-comment-modal-submit" onclick="javascript:DWComment3.addNickname();">确定</button></div></form> </div> <div class="dw-comment-modal-ft">  <p>注：昵称唯一且不可更改，且第1个字必须是中文。</p> </div></div></div><script src="http://comment3.duowan.com/scripts/comments.js"></script><script src="http://comment3.duowan.com/scripts/udb.js?48784.js"></script><script src="http://comment3.duowan.com/scripts/jquery-textrange.js?48784.js"></script>
                    </div>
                    <!-- }评论 -->

                <div class="blank10 layout-ft"></div>
            </div>
            <!-- }专区主要内容 -->

        </div>

    <!-- }专题主体 -->


    <div class="blank10"></div>
    <div class="blank10"></div>
    <!-- 页脚{ -->
    <% include partial/footer %>
    <!-- }页脚 -->

</body>
</html>
