
.m-topbar {
	position: relative;
	background-color: #3D9DEE;
	height:44px;
	z-index: 10;

	.actionbar-l{
		height:100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.actionbar-r{
		height:100%;
		position: absolute;
		top: 0px;
		right: 0px;
	}
	.title{
		display: block;
		width: 100%;
		text-align: center;
		white-space: nowrap;
		line-height: 44px;
		color: #fff;
		font-weight:normal;
		font-size: pxToRem(14);;
	}
	.bt-return{
		display:block;
		line-height: 44px;
		height: 44px;
		width: 44px;
		&:before,&:after{
			position: absolute;
			right: 18px;
			display: block;
			width: 16px;
			height: 3px;
			background-color: #fff;
			content: '';
		}
		&:before{
			top: 50%;
			margin-top: 5px;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:after{
			top: 50%;
			margin-top: -5px;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		&:active{
			background-color: #52A9F3;
		}
	}
}


