<div class="ZQ-box article__picRec">
    <div class="box-hd">
        <h3 class="title">图集推荐</h3>
    </div>
    <div class="box-bd">
        <ul class="mod-pic">
            <li><a href=""><img src="http://art.yypm.com/144x110" alt=""><em>恩格斯被马克思戴绿帽</em><span class="m-list__mask"></span></a></li>
            <li><a href=""><img src="http://art.yypm.com/144x110" alt=""><em>恩格斯被马克思戴绿帽</em><span class="m-list__mask"></span></a></li>
            <li><a href=""><img src="http://art.yypm.com/144x110" alt=""><em>恩格斯被马克思戴绿帽</em><span class="m-list__mask"></span></a></li>
            <li><a href=""><img src="http://art.yypm.com/144x110" alt=""><em>恩格斯被马克思戴绿帽</em><span class="m-list__mask"></span></a></li>
            <li><a href=""><img src="http://art.yypm.com/144x110" alt=""><em>恩格斯被马克思戴绿帽</em><span class="m-list__mask"></span></a></li>
        </ul>
    </div>
</div>