<div class="ZQ-row">
    <div class="ZQ-71-51">
        <div class="m-tab index-game-video ext-dblVideo" id="game-video2">
            <div class="mod-tab-hd" data-change="box">
                <h3 class="mod-tab-title">游戏视频</h3>
                <div class="act">
                    <a href="" class="more" data-change="btn"><i></i>更多</a>
                </div>
                <ul class="mod-tab-trigger J_nav" data-change="content">
                    <li class="selected" data-src="www.baidu.com1">BOSS视频</li>
                    <li data-src="www.baidu.com2">副本视频</li>
                    <li data-src="www.baidu.com3">职业视频</li>
                    <li data-src="www.baidu.com4">娱乐宣传</li>
                    <li data-src="www.baidu.com5">娱乐宣传</li>
                </ul>
            </div>
            <div class="mod-tab-bd J_content">
                <div class="mod-tab-content">
                    <ul class="mod-pic--video">
                        <li>
                            <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mod-tab-content hide">
                    <ul class="mod-pic--video">
                        <li>
                            <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                            </a>
                            <a title="title" href="#">
                                <span class="video-time"><i></i>01:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                             <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                            </a>
                            <a title="title" href="#">
                                <span class="video-time"><i></i>01:20</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mod-tab-content hide">
                    <ul class="mod-pic--video">
                        <li>
                            <a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:23</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mod-tab-content hide">
                    <ul class="mod-pic--video">
                        <li>
                            <a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:24</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mod-tab-content hide">
                    <ul class="mod-pic--video">
                        <li>
                            <a title="title" href="#">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>01:25</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                        <li>
                           <a href="" class="video-img">
                                <img src="http://art.yypm.com/206x142" alt="">
                                <span class="video-time"><i></i>10:22</span>
                                <em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        LEGO.tab("#game-video2", {
            event: "hover"
        });
    </script>
    <div class="ZQ-71-19">
        <div class="m-tab m-tab--weekly index-video__aside" id="video-sort">
            <div class="mod-tab-hd">
                <h3 class="mod-tab-title">LOL视频排行榜</h3>
                <ul class="mod-tab-trigger J_nav">
                    <li class="selected">日</li>
                    <li>周</li>
                    <li>月</li>
                </ul>
            </div>
            <div class="mod-tab-bd J_content">
                <div class="mod-tab-content">
                    <ul class="m-list">
                        <li class="top">
                            <i class="num">1</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                        <li class="top">
                            <i class="num">2</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                        <li class="top">
                            <i class="num">3</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                        <li>
                            <i class="num">4</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                        <li>
                            <i class="num">5</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                        <li>
                            <i class="num">6</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                        <li>
                            <i class="num">7</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                        <li>
                            <i class="num">8</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                        <li>
                            <i class="num">9</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                        <li>
                            <i class="num">11</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                    </ul>
                </div>
                <div class="mod-tab-content hide">
                    <ul class="m-list">
                        <li>
                            <i class="num">1</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                    </ul>
                </div>
                <div class="mod-tab-content hide">
                    <ul class="m-list">
                        <li>
                            <i class="num">1</i>
                            <a href="">未成年禁止观看！多玩妹妹团选美大赛</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <script>
        LEGO.tab("#video-sort", {
            event: "hover"
        });
    </script>
</div>