<div class="ZQ-row">
	<div class="ZQ-71">
		<div class="m-tab index-smdatabase">
			<div class="mod-tab-hd">
				<h3 class="mod-tab-title">游戏视频</h3>
		        <div class="act">
		        	<a href="" class="more"><i></i>更多</a>
		        </div>
			</div>
			<div class="mod-tab-bd ">
				<div class="db-hd">
					<div class="labels">
						<label for="">派系：</label>
						<ul>
							<li class="selected">所有派系</li>
							<li>希腊神殿</li>
							<li>埃及神殿</li>
							<li>北欧神殿</li>
							<li>中华神殿</li>
							<li>印度神殿</li>
							<li>罗马神殿</li>
							<li>玛雅神殿</li>
						</ul>
					</div>
					<div class="labels">
						<label for="">类型：</label>
						<ul>
							<li>所有类型</li>
							<li>坦克</li>
							<li>战士</li>
							<li>刺客</li>
							<li class="selected">法师</li>
							<li>后期</li>
							<li>辅助</li>
							<li>近战</li>
							<li>远程</li>
							<li>物理</li>
							<li>魔法</li>
						</ul>
					</div>
				</div>
				<div class="db-bd" id="db-con">
					<ul class="db-hero-group">
						<li class="selected"><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
						<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/80x80" alt=""></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	  //滚动
            $("#db-con").niceScroll({
                'cursorcolor': '#dddddd',
                'cursorborderradius': '3px',
                'cursoropacitymin': 1,
                'cursoropacitymax': 1,
                'cursorwidth': '12px',
                'cursorborder': 0,
                'background': '#efefef'
            })

</script>