<div class="ZQ-row">
	<!-- section - 1{ -->
	<div class="ZQ-71-25">
		<!-- 轮播图{ -->
    	<div id="slider1" class="index-slide">
        	<div class="mod-slide-content">
                <ul class="J_content">
                    <li><a href="#"><img alt="" src="http://art.yypm.com/400x300x1"></a></li>
                    <li><a href="#"><img alt="" src="http://art.yypm.com/400x300x2"></a></li>
                    <li><a href="#"><img alt="" src="http://art.yypm.com/400x300x3"></a></li>
                </ul>
            </div>
            <ul class="mod-slide-trigger J_nav">
                <li class="selected"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </div>
        <script>
        LEGO.slide("#slider1", {effect: "scrollY"} );
        </script>
		<!-- }轮播图 -->

		<!-- section - part{ -->
		<div class="ZQ-box">
			<div class="box-hd">
				<h3 class="title">论坛热帖</h3>
				<div class="act">
					<a class="more" href="#"><i>+</i>更多</a>
				</div>
			</div>
			<div class="box-bd">
				<!-- 图{ -->
				<ul class="mod-pic--mid">
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/174x118" alt="">
						<em>英雄联盟英雄MV第一季</em>
					</a></li>
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/174x118" alt="">
						<em>英雄联盟英雄MV第一季第五期：卡牌大师崔斯特</em>
					</a></li>
				</ul>
				<!-- }图 -->
				<!-- 新闻列表{ -->
				<ul class="m-list">
					<li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
					<li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
					<li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
					<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
					<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
					<li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
					<li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
				</ul>
				<!-- }新闻列表 -->
			</div>
		</div>

		<!-- }section - part -->
	</div>
	<!-- }section - 1 -->
	<!-- section - 2{ -->
	<div class="ZQ-71-25">
		<div class="index-hotnews-ctn">
			<div class="index-toppic">
				<div class="toppic-group">
					<a href="" class="large">热游榜：TX9跌1涨 FF14超魔兽登顶FF14超魔兽登顶FF14超魔兽登顶</a>
					<div class="toppic">
						<a href=""> [ 3款测试 决战苍穹等 ]</a><a href=""> [ 3款测试 决战苍穹等 ]</a><a href=""> [ 3款测试 决战苍 ]</a>
					</div>
				</div>
				<div class="toppic-group">
					<a href="" class="large">热游榜：TX9跌1涨 FF14超魔兽登顶</a>
					<div class="toppic">
						<a href=""> [ 激战22014校园行火爆启动 ] </a><a href=""> [ 3款测试 决战苍穹等 ]</a>
					</div>
				</div>
			</div>
			<!-- 热点新闻{ -->
			<div class="index-hotnews-tab" id="index-hotnews-tab">
				<div class="mod-tab-hd">
					<ul class="mod-tab-trigger J_nav">
						<li class="selected">最新动态</li>
						<li>重点推荐</li>
						<li>热点赛事</li>
			        </ul>
			        <a href="" class="mod-tab-more">更多&raquo;</a>
				</div>
				<div class="mod-tab-bd J_content">
					<div class="mod-tab-content">
						<!-- 新闻列表{ -->
						<ul class="m-list">
							<li><i></i><span class="date">01.02</span><a href="#" title=""><font color="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</font></a></li>
							<li><i></i><span class="date">11.20</span><a href="#" title=""><font color="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</font></a></li>
							<li><i></i><span class="date">11.17</span><a href="#" title=""><font>首位GSL美女选手参赛照片 震撼护士装</font></a></li>
							<li><i></i><span class="date">11.14</span><a href="#" title=""><font>韩国GSL第三季1500人预选赛首日现场图赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
						</ul>
						<!-- }新闻列表 -->
						<!-- 新闻列表{ -->
						<ul class="m-list">
							<li><i></i><span class="date">01.02</span><a href="#" title=""><font>韩国玩家星际争霸高达作品死神来了</font></a></li>
							<li><i></i><span class="date">11.20</span><a href="#" title=""><font>转虫族给力啊 星际猪出品趣味星际2漫画</font></a></li>
							<li><i></i><span class="date">11.17</span><a href="#" title=""><font>首位GSL美女选手参赛照片 震撼护士装</font></a></li>
							<li><i></i><span class="date">11.14</span><a href="#" title=""><font>韩国GSL第三季1500人预选赛首日现场图赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
						</ul>
						<!-- }新闻列表 -->
						<!-- 新闻列表{ -->
						<ul class="m-list">
							<li><i></i><span class="date">01.02</span><a href="#" title=""><font>韩国玩家星际争霸高达作品死神来了</font></a></li>
							<li><i></i><span class="date">11.20</span><a href="#" title=""><font>转虫族给力啊 星际猪出品趣味星际2漫画</font></a></li>
							<li><i></i><span class="date">11.17</span><a href="#" title=""><font>首位GSL美女选手参赛照片 震撼护士装</font></a></li>
							<li><i></i><span class="date">11.14</span><a href="#" title=""><font>韩国GSL第三季1500人预选赛首日现场图赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
						</ul>
						<!-- }新闻列表 -->
					</div>
					<div class="mod-tab-content hide">
						<!-- 新闻列表{ -->
						<ul class="m-list">
							<li><i></i><span class="date">01.02</span><a href="#" title=""><font>韩国玩家星际争霸高达作品死神来了</font></a></li>
							<li><i></i><span class="date">11.20</span><a href="#" title=""><font>转虫族给力啊 星际猪出品趣味星际2漫画</font></a></li>
							<li><i></i><span class="date">11.17</span><a href="#" title=""><font>首位GSL美女选手参赛照片 震撼护士装</font></a></li>
							<li><i></i><span class="date">11.14</span><a href="#" title=""><font>韩国GSL第三季1500人预选赛首日现场图赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
						</ul>
						<!-- }新闻列表 -->
						<!-- 新闻列表{ -->
						<ul class="m-list">
							<li><i></i><span class="date">01.02</span><a href="#" title=""><font>韩国玩家星际争霸高达作品死神来了</font></a></li>
							<li><i></i><span class="date">11.20</span><a href="#" title=""><font>转虫族给力啊 星际猪出品趣味星际2漫画</font></a></li>
							<li><i></i><span class="date">11.17</span><a href="#" title=""><font>首位GSL美女选手参赛照片 震撼护士装</font></a></li>
							<li><i></i><span class="date">11.14</span><a href="#" title=""><font>韩国GSL第三季1500人预选赛首日现场图赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
						</ul>
						<!-- }新闻列表 -->
					</div>
					<div class="mod-tab-content hide">
						<!-- 新闻列表{ -->
						<ul class="m-list">
							<li><i></i><span class="date">01.02</span><a href="#" title=""><font>韩国玩家星际争霸高达作品死神来了</font></a></li>
							<li><i></i><span class="date">11.20</span><a href="#" title=""><font>转虫族给力啊 星际猪出品趣味星际2漫画</font></a></li>
							<li><i></i><span class="date">11.17</span><a href="#" title=""><font>首位GSL美女选手参赛照片 震撼护士装</font></a></li>
							<li><i></i><span class="date">11.14</span><a href="#" title=""><font>韩国GSL第三季1500人预选赛首日现场图赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
							<li><i></i><span class="date">11.13</span><a href="#" title=""><font>国内画师leon19星际争霸2美术作品欣赏</font></a></li>
						</ul>
						<!-- }新闻列表 -->
					</div>
				</div>
			</div>
		</div>
		<script>
		LEGO.tab("#index-hotnews-tab",{event:"hover"});
		</script>
		<!-- }热点新闻 -->
	</div>
	<!-- }section - 2 -->
	<!-- section - 3{ -->
	<div class="ZQ-71-19">
		<!-- 游戏前瞻{ -->
		<div class="ZQ-box index-gamebrocast">
			<div class="box-hd">
				<h3 class="title">游戏前瞻</h3>
				<div class="act">
					<a class="more" href="#"><i></i>更多</a>
				</div>
			</div>
			<div class="box-bd">
				<!-- 专题图片{ -->
				<ul class="mod-pic--toppic">
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/270x75" alt="">
					</a></li>
				</ul>
				<!-- }专题图片 -->
				<div class="other-data">
					<ul>
						<li><a href="">挖掘地一览</a></li>
						<li><a href="">鱼类</a></li>
						<li><a href="">机械</a></li>
						<li><a href="">机械</a></li>
						<li><a href="">机械</a></li>
						<li><a href="">挖掘地一览</a></li>
						<li><a href="">鱼类</a></li>
						<li><a href="">机械</a></li>
						<li><a href="">机械</a></li>
						<li><a href="">机械</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- }游戏前瞻 -->
		<!-- 精彩专题{ -->
		<div class="ZQ-box index-wonder-toppic">
			<div class="box-hd">
				<h3 class="title">精彩专题</h3>
				<div class="act">
					<a class="more" href="#"><i></i>更多</a>
				</div>
			</div>
			<div class="box-bd">
				<!-- 专题图片{ -->
				<ul class="mod-pic--toppic">
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/270x75" alt="">
					</a></li>
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/270x75" alt="">
					</a></li>
				</ul>
				<!-- }专题图片 -->

				<!-- 小图列表{ -->
				<ul class="mod-pic--min">
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/80x70" alt="">
						<em>物品专题</em>
					</a></li>
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/80x70" alt="">
						<em>物品专题</em>
					</a></li>
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/80x70" alt="">
						<em>物品专题</em>
					</a></li>
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/80x70" alt="">
						<em>物品专题</em>
					</a></li>
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/80x70" alt="">
						<em>物品专题</em>
					</a></li>
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/80x70" alt="">
						<em>物品专题</em>
					</a></li>
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/80x70" alt="">
						<em>物品专题</em>
					</a></li>
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/80x70" alt="">
						<em>物品专题</em>
					</a></li>
					<li><a title="title" href="#">
						<img src="http://art.yypm.com/80x70" alt="">
						<em>物品专题</em>
					</a></li>
				</ul>
				<!-- }小图列表 -->
			</div>
		</div>
		<!-- }精彩专题 -->
	</div>
	<!-- }section - 3 -->
</div>