
<div class="ZQ-row">
	<div class="ZQ-71">
		<div class="index-hero">
			<!-- 永久免费{ -->
			<div class="hero-group" id="hero-group1">
				<label for="">永久免费</label>
				<ul class="hero-list J_nav">
					<li>
						<span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a>
						<i class="icon-triangle"></i>
					</li>
					<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a><i class="icon-triangle"></i></li>
					<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a><i class="icon-triangle"></i></li>
					<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a><i class="icon-triangle"></i></li>
					<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a><i class="icon-triangle"></i></li>
				</ul>
				<div class="hero-con hide J_content">
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">1111111111111111111111111111111111111111111111111111111111111</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">222222222222222222222222222222222222222222222222222222</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">33333333333333333333333333333333333333333333333</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">44444444444444444444444444444444444444444444444444</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">55555555555555555555555555555555555555555555555555555555</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- }永久免费 -->
			<!-- 本周免费{ -->
			<div class="hero-group"  id="hero-group2">
				<label for="">本周免费</label>
				<ul class="hero-list J_nav">
					<li>
						<span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a>
						<i class="icon-triangle"></i>
					</li>
					<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a><i class="icon-triangle"></i></li>
					<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a><i class="icon-triangle"></i></li>
					<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a><i class="icon-triangle"></i></li>
					<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a><i class="icon-triangle"></i></li>
				</ul>
				<div class="hero-con hide J_content">
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- }本周免费 -->
			<!-- 热门神明{ -->
			<div class="hero-group"  id="hero-group3">
				<label for="">热门神明</label>
				<ul class="hero-list J_nav">
					<li>
						<span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a>
						<i class="icon-triangle"></i>
					</li>
					<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a><i class="icon-triangle"></i></li>
					<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a><i class="icon-triangle"></i></li>
					<li><span class="mask"></span><a href=""><img src="http://art.yypm.com/60x60" alt=""></a><i class="icon-triangle"></i></li>
				</ul>
				<div class="hero-con hide J_content">
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gl-group hide">
						<div class="hero-gl">
							<div class="box-hd">
								<div class="act">
									<a href="" class="more"><i></i>更多</a>
								</div>
								<h3 class="title">星界游神资料攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="m-list">
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
									<li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了韩国玩家星际争霸高达作品死神来了</a></li>
									<li><i></i><a href="#" title="">FF14 2.3战场技巧  诗人最强了 黑魔却垫底了</a></li>
								</ul>
							</div>
						</div>
						<div class="hero-fb">
							<div class="box-hd">
								<h3 class="title">副本攻略</h3>
							</div>
							<div class="box-bd">
								<ul class="mod-pic--video">
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
									<li><a title="title" href="#">
										<img src="http://art.yypm.com/174x118" alt="">
										<span class="video-time">可爱绝美的cos</span>
										<em>英雄联盟英雄MV第一五期：卡牌大师崔斯特</em>
									</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- }热门神明 -->
		</div>
	</div>
</div>
<script type="text/javascript">
	(function($){
		selectHero('#hero-group1');
		selectHero('#hero-group2');
		selectHero('#hero-group3');
		function selectHero(id){
			var ele=$(id),
				nav=ele.find('.J_nav'),
				con=ele.find('.J_content');
				ele.on('mouseleave',function(){
					con.hide();
					nav.children().removeClass('selected');
				})
				nav.on('mouseenter','li',function(){
					var index=$(this).index();
					$(this).addClass('selected').siblings().removeClass('selected');
					con.show().children().eq(index).show().siblings().hide();
				})
		}
	})(jQuery)
</script>
