<!-- <img src="http://art.yypm.com/304x1000"/> -->
<div class="ZQ-navtree">
	<div class="m-tab" id="aside-navtree">
		<div class="mod-tab-hd">
			<ul class="mod-tab-trigger J_nav">
				<li class="selected">刺客类</li>
				<li>治疗类</li>
				<li>攻击类</li>
				<li>速度型</li>
	        </ul>
		</div>
		<div class="mod-tab-bd J_content">
			<div class="mod-tab-content">
				<div class="navtree-box is-open">
					<div class="navtree-box__hd" data-role="navtree-trigger">
						<h3 class="navtree-box__title">蓝色心法</h3>
						<div class="navtree-box__icon"><i></i></div>
					</div>
					<div class="navtree-box__bd" data-role="navtree-content">
						<ul class="m-list ext-double">
				            <li><i></i><a href="http://wuxia.duowan.com/1506/298866873010.html">归鞘归鞘归鞘归鞘归鞘归鞘归鞘归鞘归鞘归鞘归鞘归鞘归鞘归鞘</a></li>
							<li><i></i><a href="http://wuxia.duowan.com/1506/298866439200.html">厚德</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1507/301420134403.html">九婴</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1507/301428113320.html">速生</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1507/301428934364.html">长天</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1507/301428301068.html">饕餮</a></li>
							<li><i></i><a href="http://wuxia.duowan.com/1506/298865803510.html">灵素</a></li>
							<li><i></i><a href="http://wuxia.duowan.com/1506/298866969339.html">白刃</a></li>
							<li><i></i><a href="http://wuxia.duowan.com/1506/298868419593.html">修罗</a></li>
							<li><i></i><a href="http://wuxia.duowan.com/1506/298866036041.html">同袍</a></li>
							<li><i></i><a href="http://wuxia.duowan.com/1506/298868658108.html">征旗</a></li>
					    	<li><i></i><a href="http://wuxia.duowan.com/1506/298864624707.html">青鸟</a></li>
				        	<li><i></i><a href="http://wuxia.duowan.com/1506/298831121342.html">金戈</a></li>
				        	<li><i></i><a href="http://wuxia.duowan.com/1506/298864901484.html">铁马</a></li>
				        	<li><i></i><a href="http://wuxia.duowan.com/1506/298768415778.html">寻欢</a></li>
				        	<li><i></i><a href="http://wuxia.duowan.com/1506/298816423611.html">地藏</a></li>
				        	<li><i></i><a href="http://wuxia.duowan.com/1506/298830207422.html">善缘</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1506/298830605244.html">绝命</a></li>
				           	<li><i></i><a href="http://wuxia.duowan.com/1506/298830760878.html">无生</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1506/298830834823.html">无灭</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1506/298869165150.html">止杀</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1506/298831557627.html">狮吼</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1506/298865027737.html">偃师</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1507/301419915495.html">极乐</a></li>
						</ul>
					</div>
				</div>
				<div class="navtree-box is-open">
					<div class="navtree-box__hd" data-role="navtree-trigger">
						<h3 class="navtree-box__title">紫色心法</h3>
						<div class="navtree-box__icon"><i></i></div>
					</div>
					<div class="navtree-box__bd" data-role="navtree-content">
						<ul class="m-list ext-flow">
				            <li><i></i><a href="http://wuxia.duowan.com/1508/304536449672.html">杀菩提</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1508/302635679670.html">啸天·镇岳</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1508/302522856370.html">猎风·沉舟</a></li>
				    		<li><i></i><a href="http://wuxia.duowan.com/1507/300895760350.html">淬火·流毒</a></li>
							<li><i></i><a href="http://wuxia.duowan.com/1506/298831693534.html">悲回风</a></li>
				            <li><i></i><a href="http://wuxia.duowan.com/1506/298870143242.html">罗睺诀</a></li>
						</ul>
					</div>
				</div>
				<div class="navtree-box is-open">
					<div class="navtree-box__hd" data-role="navtree-trigger">
						<h3 class="navtree-box__title">基础指引</h3>
						<div class="navtree-box__icon"><i></i></div>
					</div>
					<div class="navtree-box__bd" data-role="navtree-content">
						<ul class="m-list">
							<li><i></i><a href="http://wuxia.duowan.com/1408/270779246293.html">升级【阅历】怎么来</a></li>
							<li><i></i><a href="http://wuxia.duowan.com/1505/296850132125.html">经脉【修为】怎么来</a></li>
							<li><i></i><a href="http://wuxia.duowan.com/1506/297252106384.html">身份会消耗【历练】</a></li>
							<li><i></i><a href="http://wuxia.duowan.com/1505/296706285188.html">1-30级升级+修为指南</a></li>
							<li><i></i><a href="http://wuxia.duowan.com/1505/296948557156.html">31-40级升级+修为指南</a></li>
					    	<li><i></i><a href="http://wuxia.duowan.com/1506/297802555733.html">41-50级升级+修为指南</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="mod-tab-content hide">...</div>
			<div class="mod-tab-content hide">...</div>
			<div class="mod-tab-content hide">...</div>
		</div>
	</div>
	<script>
	LEGO.tab('#aside-navtree',{event:'hover'});
	(function($){
		$('#aside-navtree').on('click', '[data-role="navtree-trigger"]', function(){
			var parent = $(this).parent();
			var content = parent.find('[data-role="navtree-content"]');
			if (parent.hasClass('is-open')) {
				parent.removeClass('is-open').addClass('is-close');
				var height = content.height();
				content.data('height', height).stop().animate({
					height : 0
				}, parseInt(50+height*1.1), 'linear');
			} else {
				parent.removeClass('is-close').addClass('is-open');
				var height = content.data('height');
				if (height) {
					content.stop().animate({
						height : height
					}, parseInt(50+height*1.1), 'linear');
				}
			}
		});
	})(jQuery);
	</script>
</div>