<div class="vote-system vote-system__background" data-role="vote-system">
    <div class="vote-system__hd">
        <p class="vote-system__tit">看完本文后有何评价？已有<span id="face_title_span" class="vote-system__color">0</span>人评价，点选表情后可看到其他玩家的表态。</p>
    </div>
    <div class="vote-system__bd">
        <div class="vote-system__opts" id="face">
            <input type="hidden" id="type" value="1">
            <input type="hidden" id="articleId" value="307323263730">
            <input type="hidden" id="channelId" value="wuxia">
            <input type="hidden" id="tag" value="normal">
            <input type="hidden" id="title" value="剑者孤独 论剑热身赛赛区前十榜单公布">
            <input type="hidden" id="url" value="http://wuxia.duowan.com/1509/307323263730.html">
            <input type="hidden" id="encode" value="utf-8">
            <div id="face_title" style="display:none"><span></span></div>
            <table>
                <tbody>
                    <tr>
                        <td class="vote-system__opt">
                            <div class="vote-system__result">
                                <div id="xx1" class="vote-system__chart vote-system__forecolor" style="height:0%">
                                    <span id="span1" class="vote-system__value">0</span>
                                </div>
                            </div>
							<img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126714114417.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114417.gif">
                        </td>
                        <td class="vote-system__opt">
                            <div class="vote-system__result">
                                <div id="xx2" class="vote-system__chart vote-system__forecolor" style="height:0%">
                                    <span id="span2" class="vote-system__value">0</span>
                                </div>
                            </div>
                            <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126714114418.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114418.gif">
                        </td>
                        <td class="vote-system__opt">
                            <div class="vote-system__result">
                                <div id="xx3" class="vote-system__chart vote-system__forecolor" style="height:0%">
                                    <span id="span3" class="vote-system__value">0</span>
                                </div>
                            </div>
                            <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126714114419.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114419.gif">
                        </td>
                        <td class="vote-system__opt">
                            <div class="vote-system__result">
                                <div id="xx4" class="vote-system__chart vote-system__forecolor" style="height:0%">
                                    <span id="span4" class="vote-system__value">0</span>
                                </div>
                            </div>
                            <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126714114420.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114420.gif">
                        </td>
                        <td class="vote-system__opt">
                            <div class="vote-system__result">
                                <div id="xx5" class="vote-system__chart vote-system__forecolor" style="height:0%">
                                    <span id="span5" class="vote-system__value">0</span>
                                </div>
                            </div>
                            <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126714114421.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114421.gif">
                        </td>
                        <td class="vote-system__opt">
                            <div class="vote-system__result">
                                <div id="xx6" class="vote-system__chart vote-system__forecolor" style="height:0%">
                                    <span id="span6" class="vote-system__value">0</span>
                                </div>
                            </div>
                            <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1006/141831485415/141831511458.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1006/141831485415/141831511458.gif">
                        </td>
                        <td class="vote-system__opt">
                            <div class="vote-system__result">
                                <div id="xx7" class="vote-system__chart vote-system__forecolor" style="height:0%">
                                    <span id="span7" class="vote-system__value">0</span>
                                </div>
                            </div>
                            <img name="_img" alt="" src="http://pic.duowan.com/mhzx/1001/126702134993/126716586710.gif" _fcksavedurl="http://pic.duowan.com/mhzx/1001/126702134993/126714114423.gif">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="vote-system__txt">牛顶</span>
                        </td>
                        <td>
                            <span class="vote-system__txt">鄙视</span>
                        </td>
                        <td>
                            <span class="vote-system__txt">膜拜</span>
                        </td>
                        <td>
                            <span class="vote-system__txt">么个</span>
                        </td>
                        <td>
                            <span class="vote-system__txt">雷囧</span>
                        </td>
                        <td>
                            <span class="vote-system__txt">不解</span>
                        </td>
                        <td>
                            <span class="vote-system__txt">路过</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="vote-system__btn"></i>
                            <input name="choice" type="radio" value="1" onclick="voteRadio(1,'face',0,0)" style="display:none">
                        </td>
                        <td>
                            <i class="vote-system__btn"></i>
                            <input name="choice" type="radio" value="2" onclick="voteRadio(2,'face',0,0)" style="display:none">
                        </td>
                        <td>
                            <i class="vote-system__btn"></i>
                            <input name="choice" type="radio" value="3" onclick="voteRadio(3,'face',0,0)" style="display:none">
                        </td>
                        <td>
                            <i class="vote-system__btn"></i>
                            <input name="choice" type="radio" value="4" onclick="voteRadio(4,'face',0,0)" style="display:none">
                        </td>
                        <td>
                            <i class="vote-system__btn"></i>
                            <input name="choice" type="radio" value="5" onclick="voteRadio(5,'face',0,0)" style="display:none">
                        </td>
                        <td>
                            <i class="vote-system__btn"></i>
                            <input name="choice" type="radio" value="6" onclick="voteRadio(6,'face',0,0)" style="display:none">
                        </td>
                        <td>
                            <i class="vote-system__btn"></i>
                            <input name="choice" type="radio" value="7" onclick="voteRadio(7,'face',0,0)" style="display:none">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="vote-system__aside" id="ding">
            <input type="hidden" id="type" value="2">
            <input type="hidden" id="articleId" value="307323263730">
            <input type="hidden" id="channelId" value="wuxia">
            <input type="hidden" id="tag" value="normal">
            <input type="hidden" id="title" value="剑者孤独 论剑热身赛赛区前十榜单公布">
            <input type="hidden" id="url" value="http://wuxia.duowan.com/1509/307323263730.html">
            <input type="hidden" id="encode" value="utf-8">
            <input type="radio" id="choice" value="1" style="display:none">
            <div class="vote-system__like">
                <p class="vote-system__total"><span id="span1">4</span><span>票</span></p>
                <p class="vote-system__ding vote-system__forecolor vote-system__forecolor--hover" onclick="voteRadio(1,'ding',0,0)">我顶！</p>
                
            </div>
        </div>
    </div>
</div>
<script>
    (function(){
        var btns = document.getElementById('face').getElementsByTagName('i');
        var len = btns.length;
        var select = function(){
            for (var i = 0; i < len; i++) {
                btns[i].className = 'vote-system__btn';
            }
            this.className += ' vote-system__btn--selected';
            var radio = this.nextElementSibling||this.nextSibling;
            radio&&radio.click&&radio.click();
        }
        for (var i = 0; i < len; i++) {
            btns[i].onclick = select;
        }
    })();
</script>
<script src="http://www.duowan.com/public/s/i/vote_statistics.js"></script>
<script>
    (function(){
        var _parseText = window.parseText;
        window.parseText = function(){
            _parseText.apply(null, arguments);
            if (arguments[0] == 'face') {
                document.getElementById('face_title_span').innerHTML = document.getElementById('face_title').getElementsByTagName('span')[0].innerHTML;
            }
        }
        getValue("face");
        voteRadio(8,'face',1,0);
        getValue("ding");
        voteRadio(1,'ding',1,0);
    })();
</script>