<div class="ZQ__foot">
    <!-- 网站地图{ -->
    <div class="ZQ__map">
        <!-- 搜索 - 标识{ -->
        <div class="foot-action">
            <form id="form-search2" method="get" action="http://so.duowan.com/cse/search" target="_blank" accept-charset="utf-8">
                <div class="search">
                    <input type="text" name="q" data-baidusug="on" id="" value="请输入关键字" onfocus="if(this.value=='请输入关键字') this.value='';" onblur="if(this.value=='') this.value='请输入关键字';" >
                    <input type="hidden" name="s" value="14439980297804472906" />
                    <a href="javascript:void(0)" onclick="javascript:document.getElementById('form-search2').submit()" title="搜索" class="submit">搜索</a>
                </div>
                <a href="" class="connect">联系主编</a>
            </form>
        </div>
        <!-- }搜索 - 标识 -->
        <div class="inner">
            <div class="map-list">
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻官方新闻官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
                <ul class="list">
                    <li><span class="label">热点新闻</span></li>
                    <li><a href="">官方新闻</a></li>
                    <li><a href="">研发日志</a></li>
                    <li><a href="">小道消息</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- }网站地图 -->
    <div class="ZQ__friend">
        <div class="inner">
            <p class="link">
                <span class="label"><em>友情链接</em></span>
                <a href="">5253手游网</a><a href="">多玩风暴英雄</a><a href="">多玩DNF</a><a href="">NEOTV LOL</a><a href="">NEOTV LOL</a><a href="">LOL图片</a><a href="">5253手游网</a><a href="">多玩风暴英雄</a><a href="">多玩DNF</a><a href="">NEOTV LOL</a><a href="">NEOTV LOL</a><a href="">LOL图片</a><a href="">5253手游网</a><a href="">多玩风暴英雄</a><a href="">多玩DNF</a><a href="">NEOTV LOL</a><a href="">NEOTV LOL</a><a href="">LOL图片</a>
            </p>
        </div>
    </div>
    <% include duowan-siteinfo %>
</div>
