<div class="ZQ__head">
    <div class="ZQ__topnav">
        <a href="" class="bbs"><span>进入论坛</span></a>
        <div class="nav">
            <ul>
                <li class="current"><a href="">专区首页</a></li>
                <li><a href="">新闻资讯</a></li>
                <li><a href="">攻略站</a></li>
                <li><a href="">视频站</a></li>
                <li><a href="">新手入门</a></li>
                <li><a href="">职业心得</a></li>
                <li><a href="">经验攻略</a></li>
                <li><a href="">有问必答</a></li>
            </ul>
        </div>
        <!-- 引导{ -->
        <div class="ZQ__topguide">
            <!-- 功能模块{ -->
            <div class="function-search">
                <p>
                    <a href="" class="download"><i></i>下载游戏</a>
                    <a href="" class="fav"><i></i>注册游戏</a>
                </p>
                <div class="search">
                    <form id="form-search" method="get" action="http://so.duowan.com/cse/search" target="_blank" accept-charset="utf-8">
                        <input type="text" name="q" data-baidusug="on" id="" value="请输入关键字" onfocus="if(this.value=='请输入关键字') this.value='';" onblur="if(this.value=='') this.value='请输入关键字';" >
                        <input type="hidden" name="s" value="14439980297804472906" />
                        <a href="javascript:void(0)" class="submit" onClick="javascript:document.getElementById('form-search').submit()" target="_self" title="搜索">搜索</a>
                    </form>
                </div>
            </div>
            <!-- }功能模块 -->
            <div class="guide-nav">
                <!-- list-1{ -->
                <div class="list">
                    <span class="label">新手指引</span>
                    <ul>
                        <li class="icon-hot"><i></i><a href="">新手入门</a></li>
                        <li class="icon-new"><i></i><a href="">注册账号</a></li>
                        <li><a href="">创建人物</a></li>
                        <li><a href="">新手入门</a></li>
                        <li><a href="">注册账号</a></li>
                    </ul>
                </div>
                <!-- }list-1 -->
                <!-- list-2{ -->
                <div class="list">
                    <span class="label">游戏相关</span>
                    <ul>
                        <li><a href="">升级</a></li>
                        <li><a href="">副本</a></li>
                        <li><a href="">部队</a></li>
                        <li><a href="">军票</a></li>
                        <li><a href="">讨伐</a></li>
                        <li><a href="">宠物</a></li>
                        <li><a href="">赚钱</a></li>
                    </ul>
                </div>
                <!-- }list-2 -->
                <!-- list-3{ -->
                <div class="list">
                    <span class="label">常用攻略</span>
                    <ul>
                        <li><a href="">战士</a></li>
                        <li><a href="">龙崎</a></li>
                        <li><a href="">武僧</a></li>
                        <li><a href="">骑士</a></li>
                        <li><a href="">学者</a></li>
                        <li><a href="">召唤</a></li>
                        <li><a href="">诗人</a></li>
                        <li><a href="">唤魔</a></li>
                    </ul>
                </div>
                <!-- }list-3 -->
                <!-- list-4{ -->
                <div class="list">
                    <span class="label">生产</span>
                    <ul>
                        <li><a href="">支架</a></li>
                        <li><a href="">彩衣</a></li>
                        <li><a href="">刻木</a></li>
                        <li><a href="">连加</a></li>
                        <li><a href="">烹调师</a></li>
                        <li><a href="">炼金术师</a></li>
                        <li><a href="">捕鱼人</a></li>
                    </ul>
                </div>
                <!-- }list-4 -->
            </div>
        </div>
        <!-- }引导 -->
    </div>
</div>