<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="多玩游戏">
    <meta name="description" content="">
    <title> 多玩游戏 </title>
    <link href="css/global.css" rel="stylesheet">
</head>
<body>
	<% include partial/dw-hd %>

    <div class="wrap">  

    </div>

	<% include partial/dw-ft %>
</body>
</html>
