[class*="u-button"] {
  position: relative;
  display: inline-block;
  height:44px;
  line-height: 44px;
  padding:0px 10px;
  margin: 0;
  color: #3d9dee;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #D1D1D1;
}

/* 激活状态 */
[class*="u-button"]:active {
  line-height: 48px;
}


/*三色按钮样式*/
.u-button--normal,
.u-button--active,
.u-button--warm {
  color: #fff;
}

.u-button--normal:active,
.u-button--active:active,
.u-button--warm:active {
  color: #fff;
}

.u-button--normal {
  background-color: #1eafe7;
  border: 1px solid #1eafe7;
}

.u-button--active {
  background-color: #157733;
  border: 1px solid #157733;
}

.u-button--warm {
  background-color: #C92727;
  border: 1px solid #C92727;
}

.u-button--normal:active {
  background-color: #52A9F3;
  border: 1px solid #52A9F3;
}
.u-button--active:active {
  background-color: #2C8547;
  border: 1px solid #2C8547;
}
.u-button--warm:active {
  background-color: #D23A3A;
  border: 1px solid #D23A3A;
}
