@charset "UTF-8";

/* 移动标准图文列表，仅展示左右两张图片 */
.m-pic{
    @include webkitbox(1);
}

.m-pic__item{
    @include flex(1);
    text-align: center;
    >a{
        width: 100%;
        display: block;
    }
    img{
        width: 90%;
    }
    em{
        padding-top: 10px;
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}


/* 扩展图文列表，用于展示超过2张以上的图文列表 */
.m-piclist{
    width: 93%;
    margin: 0 auto;
    text-align: justify;
    &:after{
        content: "";
        display: inline-block;
        width: 100%;
    }
}

.m-piclist__item{
        display: inline-block;
        text-align: center;
        width: 48%;
        margin-bottom: 10px;
        >a{
            width: 100%;
            display: block;
            color: #333;
        }
        img{
            width: 100%;
        }
}






