
.m-topbar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #3D9DEE;
	height:44px;
	z-index: 10;
	
	>h1{
		display: block;
		width: 100%;
		text-align: center;
		white-space: nowrap;
		line-height: 44px;
		color: #fff;
		font-weight:normal;
		font-size: pxToRem(14);;
	}
}

.m-topbar__leftbar{
	height:100%;  
	position: absolute; 
	top: 0px; 
	left: 0px; 
}

.m-topbar__rightbar{
	height:100%;  
	position: absolute; 
	top: 0px; 
	right: 0px; 
}

.u-return{
	display:block; 
	line-height: 44px; 
	height: 44px;
	width: 44px;
	font-family: 'lego';
	text-align: center;
	&::before{
		content: "\e63c";
		color: #fff;
		font-size: pxToRem(24);

	}
	&:active{
		background-color: #52A9F3;
	}
}


