@charset "utf-8";
/*
 * @file: 基础样式设置
 * @update: 2015-05-05 21:09:12
 */

@import "mixins";
@import "normalize";

/* 去除现代浏览器图片底部的空隙 */
img {
    vertical-align: top;
}
i, em {
    font-style: normal;
}
ol, ul, menu {
    list-style: none outside none;
}
fieldset, iframe, abbr, acronym {
    border: 0 none;
}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, hr,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}

/* IE6 7 8(q) bug 显示为行内表现 */
iframe {
    display: block;
}

/* IE bug fixed: th 不继承 text-align */
th {
    text-align: inherit;
}

/* 修正表单元素不继承父级字体族的问题 */
input, button, select, textarea {
    font-family: Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/**
 * 1. 移除 IE6-11 中默认的垂直滚动条
 * 2. 禁止水平拖动，防止破坏布局
 */
textarea {
    overflow: auto; /* 1 */
    resize: vertical; /* 2 */
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}
