@charset "utf-8";

/* 
*引入图标字体注意事项
*
*各浏览器对 '@font-face' 规则支持的字体格式不同，IE 仅支持 Embedded OpenType，Firefox
*支持 TrueType、OpenType 及 WOFF，Chrome、Safari、Opera 则支持 
*TrueType、OpenType、SVG Font。
*
*
* IE6	仅支持 Embedded OpenType(.eot) 格式。
* IE7	仅支持 Embedded OpenType(.eot) 格式。
* IE8	仅支持 Embedded OpenType(.eot) 格式。
* Firefox 3.5	支持 TrueType、OpenType(.ttf, .otf) 格式。
* Firefox 3.6	支持 TrueType、OpenType(.ttf, .otf) 及 WOFF 格式。
* Chrome	支持 TrueType、OpenType(.ttf, .otf) 及 SVG Font(.svg) 格式。
* Safari	支持 TrueType、OpenType(.ttf, .otf) 及 SVG Font(.svg) 格式。
* Opera	支持 TrueType、OpenType(.ttf, .otf) 及 SVG Font(.svg) 格式。
*
* -webkit-font-smoothing: antialiased;
*
* */

@font-face {
	font-family: 'lego';
	//src:url('fonts/icomoon.eot?g9rgim');
	src://url('fonts/icomoon.eot?#iefixg9rgim') format('embedded-opentype'),
		//url('fonts/icomoon.woff?g9rgim') format('woff'),
		url('../fonts/lego/lego.ttf') format('truetype'),
		url('../fonts/lego/lego.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="i-"], [class*=" i-"] {
	font-family: 'lego';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-phone:before {
	content: "\e600";
}
.i-mobile:before {
	content: "\e601";
}
.i-mail:before {
	content: "\e602";
}
.i-paperplane:before {
	content: "\e603";
}
.i-pencil:before {
	content: "\e604";
}
.i-user:before {
	content: "\e645";
}
.i-users:before {
	content: "\e646";
}
.i-vcard:before {
	content: "\e605";
}
.i-export:before {
	content: "\e606";
}
.i-location:before {
	content: "\e607";
}
.i-compass:before {
	content: "\e647";
}
.i-location2:before {
	content: "\e608";
}
.i-share:before {
	content: "\e609";
}
.i-heart:before {
	content: "\e60a";
}
.i-heart2:before {
	content: "\e60b";
}
.i-star:before {
	content: "\e60c";
}
.i-star2:before {
	content: "\e60d";
}
.i-thumbsup:before {
	content: "\e60e";
}
.i-thumbsdown:before {
	content: "\e60f";
}
.i-chat:before {
	content: "\e610";
}
.i-comment:before {
	content: "\e611";
}
.i-house:before {
	content: "\e612";
}
.i-search:before {
	content: "\e613";
}
.i-bell:before {
	content: "\e648";
}
.i-cog:before {
	content: "\e614";
}
.i-tools:before {
	content: "\e615";
}
.i-camera:before {
	content: "\e616";
}
.i-eye:before {
	content: "\e617";
}
.i-clock:before {
	content: "\e649";
}
.i-microphone:before {
	content: "\e618";
}
.i-calendar:before {
	content: "\e64a";
}
.i-keyboard:before {
	content: "\e619";
}
.i-sun:before {
	content: "\e61a";
}
.i-adjust:before {
	content: "\e61b";
}
.i-code:before {
	content: "\e61c";
}
.i-screen:before {
	content: "\e61d";
}
.i-cart:before {
	content: "\e61e";
}
.i-rss:before {
	content: "\e61f";
}
.i-signal:before {
	content: "\e620";
}
.i-checkmark:before {
	content: "\e621";
}
.i-cross:before {
	content: "\e622";
}
.i-minus:before {
	content: "\e623";
}
.i-plus:before {
	content: "\e624";
}
.i-cross2:before {
	content: "\e625";
}
.i-minus2:before {
	content: "\e626";
}
.i-plus2:before {
	content: "\e627";
}
.i-cross3:before {
	content: "\e628";
}
.i-question:before {
	content: "\e629";
}
.i-help:before {
	content: "\e62a";
}
.i-warning:before {
	content: "\e62b";
}
.i-cycle:before {
	content: "\e62c";
}
.i-cw:before {
	content: "\e62d";
}
.i-ccw:before {
	content: "\e62e";
}
.i-history:before {
	content: "\e62f";
}
.i-list:before {
	content: "\e630";
}
.i-add-to-list:before {
	content: "\e631";
}
.i-layout:before {
	content: "\e632";
}
.i-list2:before {
	content: "\e633";
}
.i-upload:before {
	content: "\e64b";
}
.i-download:before {
	content: "\e64c";
}
.i-disk:before {
	content: "\e64d";
}
.i-arrow-left:before {
	content: "\e634";
}
.i-arrow-down:before {
	content: "\e635";
}
.i-arrow-up:before {
	content: "\e636";
}
.i-arrow-right:before {
	content: "\e637";
}
.i-arrow-left2:before {
	content: "\e638";
}
.i-arrow-down2:before {
	content: "\e639";
}
.i-arrow-up2:before {
	content: "\e63a";
}
.i-arrow-right2:before {
	content: "\e63b";
}
.i-arrow-left3:before {
	content: "\e63c";
}
.i-arrow-down3:before {
	content: "\e63d";
}
.i-arrow-up3:before {
	content: "\e63e";
}
.i-arrow-right3:before {
	content: "\e63f";
}
.i-qq:before {
	content: "\e640";
}
.i-evernote:before {
	content: "\e641";
}
.i-renren:before {
	content: "\e642";
}
.i-sina-weibo:before {
	content: "\e643";
}
.i-picasa:before {
	content: "\e644";
}