<div id="article">
    <h1>《幻想神域》预创建火爆 提前加开服务器123</h1>             
    <address><span> 2014-07-17 15:59:09 </span><span class="comment"><a href="#comment_top" id="first_comment_url" target="_self">网友评论<span id="first_comment_count">1</span>条</a></span>|<span>来源：1</span>|<span>作者：1</span>|<span><a href="http://bbs.duowan.com/forum-399-1.html">进入论坛</a></span>
    </address>          
    <blockquote class="summary">
        <p>111</p>
    </blockquote>
    <div id="text">
    <p>　　“亚洲第一动漫网游”《幻想神域》7月18日全民公测，自7月15日预创建开启以来人气不断飙升！为了更多二次元小伙伴在公测当天能尽快进入游戏，《幻想神域》紧急加开四组服务器，让更多的玩家可以第一时间体验到可以玩的动漫世界。</p>
    <p>　　9组电信，3组网通，《幻想神域》在7月15日开放了十二组公测新服迎接二次元伙伴前往进行角色预创建。预创建的火爆让官方感受到来自二次元的热情，为缓解公测当日的服务器压力，《幻想神域》特加开3组电信新服，1组网通新服，以欢迎更多的小伙伴来战！角色预创建截止时间为今日19:00，赶快来注册属于你喜爱的ID吧！</p>
    <p style="text-align: center;"><img alt="《幻想神域》明日（7月18日）全民公测！" src="http://img3.dwstatic.com/ffo/1407/269537133534/269537187774.jpg"></p>
    <p>　　《幻想神域》明日（7月18日）全民公测！</p>
    <p>　　新加开公测服务器如下：</p>
    <p>　　电信10区【加百列】</p>
    <p>　　电信11区【玉藻前】</p>
    <p>　　电信12区【雪姬】</p>
    <p>　　网通4区【奇迹矿山】</p>
    <p style="text-align: center;"><img alt="《幻想神域》源神玉藻前与主人" src="http://img1.dwstatic.com/ffo/1407/269537133534/269537187775.jpg"></p>
    <p>　　《幻想神域》源神玉藻前与主人</p>
    <p style="text-align: center;"><img alt="《幻想神域》源神雪姬与主人" src="http://img.dwstatic.com/ffo/1407/269537133534/269537187776.jpg"></p>
    <p>　　《幻想神域》源神雪姬与主人</p>
    <p style="text-align: center;"><img alt="《幻想神域》源神加百列" src="http://img.dwstatic.com/ffo/1407/269537133534/269537187777.jpg"></p>
    <p>　　《幻想神域》源神加百列</p>
    <p style="text-align: center;"><img alt="由关智一配音，史上最帅源神巴哈姆特公测降临！" src="http://img4.dwstatic.com/ffo/1407/269537133534/269537187778.jpg"></p>
    <p>　　由关智一配音，史上最帅源神巴哈姆特公测降临！</p>
    <p>　　期待加入《幻想神域》动漫世界的小伙伴赶快行动！邀请小伙伴加入可参与“全明星大抽奖”活动，每天都可获得抽奖机会！高几率获得iPhone5S、键鼠套装、限量周边、约会大作战永久时装等海量奖励送！更有十大公测活动，让你根本停不下来！</p>
    <p>　　<a href="http://ffo.changyou.com/download/index.shtml" target="_blank">《幻想神域》客户端下载&gt;&gt;&gt;</a></p>
    <p>　　<a href="http://activity2.changyou.com/ffo/julypro/index.jsp" target="_blank">《幻想神域》“全民星大抽奖”活动&gt;&gt;&gt;</a></p>
    <p>　　<a href="http://event.changyou.com/hxsy/201407/activity/index.shtml" target="_blank">《幻想神域》公测十大活动，根本停不下来&gt;&gt;&gt;</a></p>
    <p style="text-align: center;"><img alt="李逍遥源神全民抽奖可得！" src="http://img1.dwstatic.com/ffo/1407/269537133534/269537187779.jpg"></p>
    <p>　　李逍遥源神全民抽奖可得！</p>
    <p style="text-align: center;"><img alt="萌化版赵灵儿全民抽奖可得！" src="http://img1.dwstatic.com/ffo/1407/269537133534/269537187780.jpg"></p>
    <p>　　萌化版赵灵儿全民抽奖可得！</p>
    <p style="text-align: center;"><img alt="女神少司命同款时装已加入“全民时装计划”" src="http://img4.dwstatic.com/ffo/1407/269537133534/269537187781.jpg"></p>
    <p>　　女神少司命同款时装已加入“全民时装计划”</p>
    <p style="text-align: center;"><img alt="萧炎时装已加入“全民时装计划”" src="http://img2.dwstatic.com/ffo/1407/269537133534/269537187782.jpg"></p>
    <p>　　萧炎时装已加入“全民时装计划”</p>
    <p style="text-align: center;"><img alt="《尸兄》白小飞时装已加入“全民时装计划”" src="http://img4.dwstatic.com/ffo/1407/269537133534/269537187783.jpg"></p>
    <p>　　《尸兄》白小飞时装已加入“全民时装计划”</p>
    <p style="text-align: center;"><img alt="《约会大作战》 时崎狂三即将登场" src="http://img4.dwstatic.com/ffo/1407/269537133534/269537187784.jpg"></p>
    <p>　　《约会大作战》 时崎狂三即将登场</p>
    <p style="text-align: center;"><img alt="《约会大作战》五河琴里灵装即将登场" src="http://img4.dwstatic.com/ffo/1407/269537133534/269537187785.jpg"></p>
    <p>　　《约会大作战》五河琴里灵装即将登场</p>
    </div>
    <!-- page number{ -->
    
    <!-- }page number -->   
    <!-- 相关新闻{ -->
    <div class="mod-art" id="related-news">
        <div class="mod-art-hd">
            <h3>相关新闻</h3>
        </div>
        <div class="mod-art-bd">
            <ul class="art clearfix">
                <li><a href="/1407/269541996668.html">⋅ 《幻想神域》预创建火爆 提前加开服务器789</a></li>
                <li><a href="/1407/269540616138.html">⋅ 《幻想神域》预创建火爆 提前加开服务器456</a></li>
                <li><a href="/1407/269539124422.html">⋅ 《幻想神域》预创建火爆 提前加开服务器123</a></li>
                <li><a href="/1407/269375283749.html">⋅ 幻想神域配置要求介绍</a></li>
                <li><a href="/1407/269375238546.html">⋅ 幻想神域快捷键介绍</a></li>
                <li><a href="/1407/269375091924.html">⋅ 幻想神域社交系统介绍</a></li>
            </ul>
        </div>
    </div>
    <!-- }相关新闻 -->
    <!--分享链接{-->
    <div id="share-links">
        <!-- 社交站分享{ -->
        <!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <span>分享到：</span>
        <a class="bds_tsina" title="分享到新浪微博" href="#"></a>
        <a class="bds_tqq" title="分享到腾讯微博" href="#"></a>
        <a class="bds_qzone" title="分享到QQ空间" href="#"></a>
        <a class="bds_renren" title="分享到人人网" href="#"></a>
        </div>
        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6853770" src="http://bdimg.share.baidu.com/static/js/bds_s_v2.js?cdnversion=390442"></script>

        <script type="text/javascript">
        var bds_config={"snsKey":{'tsina':'4079905110','tqq':'42d33144240e4386a43ee39629560564','t163':'','tsohu':''}}
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
        </script>
        <!-- Baidu Button END -->
        <style>
            #bdshare{float: right !important; _display: inline;padding-right: 10px;height: 20px;line-height: 20px;overflow: hidden;}
            #bdshare a{position: relative;top: -2px;}
            #bdshare span{float: left; _display: inline;padding-top: 1px;}
        </style>
        <script type="text/javascript">
            var thisTitle =encodeURIComponent('《幻想神域》预创建火爆 提前加开服务器123');
            showQqWeibo(thisTitle);
            shareToSina(thisTitle);
            shareTokaixin001(thisTitle);
            shareTorenren(thisTitle);
            shareToQq(thisTitle);
        </script>
        <!-- }社交站分享 -->
        <span class="copy-url" onclick="KISSDW.copyURL();" title="复制地址">复制链接</span>
        <span class="add-favorite" onclick="KISSDW.addFavorite();" title="加入收藏">添加到收藏夹</span>           
    </div>
    <!--}分享链接-->            
</div>