<div class="box m-newsbox m-gameguide g-c11 fl">
    <div class="box-hd">
        <i class="icon"></i>
        <h3 class="title">游戏向导</h3>
    </div>
    <div class="box-bd">
        <ul>
            <li><em>快速上手：</em><a href="">基础地图介绍</a><a href="">界面</a><a href="">术语</a><a href="">5V5V5三国大战</a><a href="">10V10逐鹿中原</a></li>
            <li><em>五行技能：</em><a href="">基础地图介绍</a><a href="">界面</a><a href="">术语</a><a href="">5V5V5三国大战</a><a href="">10V10逐鹿中原</a></li>
            <li><em>天命英雄：</em><a href="">基础地图介绍</a><a href="">界面</a><a href="">术语</a><a href="">5V5V5三国大战</a><a href="">10V10逐鹿中原</a></li>
            <li><em>天命英雄：</em><a href="">基础地图介绍</a><a href="">界面</a><a href="">术语</a><a href="">5V5V5三国大战</a><a href="">10V10逐鹿中原</a></li>
        </ul>
    </div>
</div>