<div class="mod-tab video" id="game-video-1">
    <div class="mod-tab-hd">
        <h3><i></i>游戏视频</h3>
        <ul class="tab-nav J_nav">
            <li class="hover">最近更新</li>
            <li class="">攻略视频</li>
            <li class="">副本视频</li>
            <li class="">对战视频</li>
        </ul><a class="more" href="/tag/154952129074.html">»更多</a>
    </div>
    <div class="mod-tab-bd J_box">
        <ul class="J_content">
            <li style="display: list-item;">
                <ul class="pic clearfix">
                    <li><a href="/1207/205168865547.html"><img alt="异度王国塞勒涅之月 60德巴金属外形秀" title="异度王国塞勒涅之月 60德巴金属外形秀" src="http://pic2.duowan.com/zx/1011/153779762341/153780152512.jpg"><em>异度王国塞勒涅之月 60德巴金属外形秀</em></a></li>
                    <li><a href="/1204/198169092565.html"><img alt="C9猎d频公开 以快速而多样的连招取胜" title="C9猎d频公开 以快速而多样的连招取胜" src="http://pic1.duowan.com/c9/1011/154271675445/154273124240.jpg"><em>C9猎d频公开 以快速而多样的连招取胜</em></a></li>
                    <li><a href="/1011/154951452440.html"><img alt="莱昂纳多坠入《泡泡战士》泡梦空间" title="莱昂纳多坠入《泡泡战士》泡梦空间" src="http://pic1.duowan.com/bf/1007/143467230179/143467295397.jpg"><em>莱昂纳多坠入《泡泡战士》泡梦空间</em></a></li>
                    <li><a href="/1011/154951278663.html"><img alt="泡泡战士韩服更新中秋版本 胖墩首登场" title="泡泡战士韩服更新中秋版本 胖墩首登场" src="http://pic4.duowan.com/bf/1007/143467432772/143467495143.jpg"><em>泡泡战士韩服更新中秋版本 胖墩首登场</em></a></li>
                </ul>
            </li>
            <li class="hide" style="display: none;">
                <ul class="pic clearfix">
                    <li><a href="/1011/154951278663.html"><img alt="泡泡战士韩服更新中秋版本 胖墩首登场" title="泡泡战士韩服更新中秋版本 胖墩首登场" src="http://pic4.duowan.com/bf/1007/143467432772/143467495143.jpg"><em>泡泡战士韩服更新中秋版本 胖墩首登场</em></a></li>
                    <li><a href="/1011/154951348489.html"><img alt="《泡泡战士》CJ现场火爆试玩" title="《泡泡战士》CJ现场火爆试玩" src="http://pic3.duowan.com/bf/1007/143467502144/143467548536.jpg"><em>《泡泡战士》CJ现场火爆试玩</em></a></li>
                    <li><a href="/1011/154620804107.html"><img alt="视频三部曲其一 高清游戏视频录制教程" title="视频三部曲其一 高清游戏视频录制教程" src="http://pic4.duowan.com/zf/1011/153747367653/153747449905.jpg"><em>视频三部曲其一 高清游戏视频录制教程</em></a></li>
                    <li><a href="/1011/154623336573.html"><img alt="C9猎人视频公开 以快速而多样的连招取胜" title="C9猎人视频公开 以快速而多样的连招取胜" src="http://pic4.duowan.com/c9/1011/154271675445/154273124240.jpg"><em>C9猎人视频公开 以快速而多样的连招取胜</em></a></li>
                </ul>
            </li>
            <li class="hide" style="display: none;">
                <ul class="pic clearfix">
                    <li><a href="/1207/205168865547.html"><img alt="异度王国塞勒涅之月 60德巴金属外形秀" title="异度王国塞勒涅之月 60德巴金属外形秀" src="http://pic2.duowan.com/zx/1011/153779762341/153780152512.jpg"><em>异度王国塞勒涅之月 60德巴金属外形秀</em></a></li>
                    <li><a href="/1204/198169092565.html"><img alt="C9猎d频公开 以快速而多样的连招取胜" title="C9猎d频公开 以快速而多样的连招取胜" src="http://pic1.duowan.com/c9/1011/154271675445/154273124240.jpg"><em>C9猎d频公开 以快速而多样的连招取胜</em></a></li>
                    <li><a href="/1011/154951452440.html"><img alt="莱昂纳多坠入《泡泡战士》泡梦空间" title="莱昂纳多坠入《泡泡战士》泡梦空间" src="http://pic1.duowan.com/bf/1007/143467230179/143467295397.jpg"><em>莱昂纳多坠入《泡泡战士》泡梦空间</em></a></li>
                    <li><a href="/1011/154951278663.html"><img alt="泡泡战士韩服更新中秋版本 胖墩首登场" title="泡泡战士韩服更新中秋版本 胖墩首登场" src="http://pic4.duowan.com/bf/1007/143467432772/143467495143.jpg"><em>泡泡战士韩服更新中秋版本 胖墩首登场</em></a></li>
                </ul>
            </li>
            <li class="hide" style="display: none;">
                <ul class="pic clearfix">
                    <li><a href="/1207/205168865547.html"><img alt="异度王国塞勒涅之月 60德巴金属外形秀" title="异度王国塞勒涅之月 60德巴金属外形秀" src="http://pic2.duowan.com/zx/1011/153779762341/153780152512.jpg"><em>异度王国塞勒涅之月 60德巴金属外形秀</em></a></li>
                    <li><a href="/1204/198169092565.html"><img alt="C9猎d频公开 以快速而多样的连招取胜" title="C9猎d频公开 以快速而多样的连招取胜" src="http://pic1.duowan.com/c9/1011/154271675445/154273124240.jpg"><em>C9猎d频公开 以快速而多样的连招取胜</em></a></li>
                    <li><a href="/1011/154951452440.html"><img alt="莱昂纳多坠入《泡泡战士》泡梦空间" title="莱昂纳多坠入《泡泡战士》泡梦空间" src="http://pic1.duowan.com/bf/1007/143467230179/143467295397.jpg"><em>莱昂纳多坠入《泡泡战士》泡梦空间</em></a></li>
                    <li><a href="/1011/154951278663.html"><img alt="泡泡战士韩服更新中秋版本 胖墩首登场" title="泡泡战士韩服更新中秋版本 胖墩首登场" src="http://pic4.duowan.com/bf/1007/143467432772/143467495143.jpg"><em>泡泡战士韩服更新中秋版本 胖墩首登场</em></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="mod-tab-ft"></div>
</div>
<script>
KISSDW.tab("#game-video-1", "hover");
</script>