<div id="dwzq-header">
    <link rel="stylesheet" href="http://www.duowan.com/assets/css/dwzq-common.css">
    <style>
    /* 专区顶部入口 */
    #game-entrance{width:82px;height:29px;position:absolute;top:160px;right:50px;color:#333}
    #game-entrance .btn-live{display:block;width:82px;height:29px;background:url(/public/assets/app/game-entrance/bgs_live.png) no-repeat 0 0;_background-image:url(/public/assets/app/game-entrance/bgs_live_8.png);overflow:hidden;line-height:10;}
    #game-entrance .btn-live:hover {background-position:-82px 0;}
    #game-entrance .game-info{height:55px;position:absolute;top:-62px;right:0;padding-left:6px;background:url(/public/assets/app/game-entrance/bg_live_box.png) no-repeat 0 0;_background-image:url(/public/assets/app/game-entrance/bg_live_box_8.png);}
    #game-entrance .game-info .bd{float:right;height:55px;background:url(/public/assets/app/game-entrance/bg_live_box.png) no-repeat 100% -55px;_background-image:url(/public/assets/app/game-entrance/bg_live_box_8.png);}
    #game-entrance .game-info .game-data-name{padding:0 0 0 8px;white-space:nowrap;height:55px;}
    #game-entrance .game-info .game-data-rank{padding:0 8px 0 4px;white-space:nowrap;height:55px;background:url(/public/assets/app/game-entrance/bgs_live_8.png) no-repeat 100% 3px;}
    #game-entrance .game-info .game-data-name strong{display:block;font-size:14px;height:28px;line-height:34px;*line-height:38px;_line-height:36px;overflow:hidden;padding-right:30px;}
    #game-entrance .game-info .game-data-name p{line-height:20px;color:#777;padding-right:30px;}
    #game-entrance .game-info .game-data-name p i{color:#F00;}
    #game-entrance .game-info .game-data-name .up,
    #game-entrance .game-info .game-data-name .down{display:block;width:21px;height:21px;overflow:hidden;position:absolute;top:7px;right:7px;background:url(/public/assets/app/game-entrance/bgs_live.png) no-repeat -164px 0;}
    #game-entrance .game-info .game-data-name .down{background-position:-185px 0;}
    #game-entrance .game-info .game-data-rank b{font:italic 30px/55px georgia;color:#F00;}
    #game-entrance .game-info .arrow{display:block;width:17px;height:11px;background:url(/public/assets/app/game-entrance/bg_live_box.png) no-repeat -6px -3px;_background-image:url(/public/assets/app/game-entrance/bg_live_box_8.png);position:absolute;bottom:-7px;_bottom:-11px;right:58px;}
    </style>
    <div class="nav">
        <!-- 主导航{ -->
            <div class="mainnav">
                <a class="first" href="index.html">首页首页</a>
                <a href="i-pic.html">大图页页</a>
                <a href="list.html">新闻列表</a>
                <a href="listpic.html">图片列表</a>
                <a href="listpicbig.html">头图列表</a>
                <a href="page.html">最终页页</a>
                <a href="pagefull.html">宽最终页</a>
                <a href="pageshow.html">图秀页页</a>
                <a href="">导航文字</a>
                <a href="">导航文字</a>
            </div>
            <!-- }主导航 -->
            <!-- 子导航{ -->
            <div class="subnav">
                <b>经验：</b>
                <a href="">新手</a>-
                <a href="">练级</a>-
                <a href="">赚钱</a>|
                <a href="">副本</a>-
                <a href="">BOSS</a>-
                <a href="">魔宠</a>|
                <a href="">副职</a>-
                <a href="">强化</a>-
                <a href="">技巧</a>
                <b>职业：</b>
                <a href="">战士</a>-
                <a href="">刺客</a>-
                <a href="">守护</a>-
                <a href="">火枪</a>|
                <a href="">法师</a>-
                <a href="">牧师</a>-
                <a href="">吟游</a>-
                <a href="">血魔</a>
                <br>
                <b>新闻：</b>
                <a href="">心情</a>
                <a href="">采访</a>
                <a href="">公告</a>
                <a href="">视频</a>
                <a href="">图片站</a>
                <b>工具：</b>
                <a href="">天赋模拟器</a>
                <a href="">技能</a>
                <a href="">采集分布</a>
                <a href="">精英BOSS刷点</a>
                <a href="">专题</a>
            </div>
            <!-- }子导航 -->
        <a href="http://bbs.duowan.com/forum-399-1.html" class="btn-forum">进入论坛</a>
    </div>
    <div class="section">       
        <!-- 滚动{ -->
        <div id="rolling-news">
            <b>专区推荐 </b>
            <div class="mod-art marquee">
                <div class="mod-art-bd J_box">
                    <ul class="art J_content" style="margin-top: 0px;">                 
                        <li><a href="/1207/205168865547.html" title="异度王国塞勒涅之月 60德巴金属外形秀">异度王国塞勒涅之月 60德巴金属外形秀</a></li>
                        <li><a href="/1204/198169092565.html" title="C9猎d频公开 以快速而多样的连招取胜">C9猎d频公开 以快速而多样的连招取胜</a></li>
                        <li><a href="/1011/154951452440.html" title="莱昂纳多坠入《泡泡战士》泡梦空间">莱昂纳多坠入《泡泡战士》泡梦空间</a></li>
                        <li><a href="/1207/207242237655.html" title="幽魂游戏唯美音乐游戏最爱MV">幽魂游戏唯美音乐游戏最爱MV</a></li>
                        <li><a href="/1207/207153096855.html" title="7月不得不参加的官方活动">7月不得不参加的官方活动</a></li>
                        <li><a href="/1207/207152599118.html" title="西游马上就进入最后的测试阶">西游马上就进入最后的测试阶</a></li>
                    </ul>
                </div>
            </div>
            <script>
                KISSDW.switchable(".marquee", {effect: "scrollTxt", steps: 1, timer: 3000});
            </script>
        </div>
        <!-- }滚动 -->
        <!-- 搜索{ -->
        <div class="mod-search">
            <form id="form-search" method="get" action="http://soso.duowan.com/s" target="_blank" accept-charset="utf-8">
                <label>文章搜索 </label>
                <input type="text" name="word" baidusug="1" value="" onfocus="if(this.value=='') this.value='';" onblur="if(this.value=='') this.value='';">
                <a class="btn-submit" onclick="javascript:document.getElementById('form-search').submit()" target="_self">搜索</a>
            </form>
        </div>
        <!-- }搜索 -->
        <div class="links">
            <a href="http://qqxy.qq.com/">下载游戏</a><a href="http://zc.qq.com/">注册账号</a><span onclick="KISSDW.addFavorite();">加入收藏</span>
        </div>
    </div>
    <!-- LOGO{ -->
    <div id="game-logo">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="309" height="151">
            <param name="movie" value="/s/v1011/logo.swf">
            <param name="wmode" value="transparent">
            <param name="menu" value="false">
            <embed type="application/x-shockwave-flash" wmode="transparent" menu="false" width="309" height="151" src="/s/v1011/logo.swf">
        </object>
    </div>
    <!-- }LOGO -->
    <!-- 游戏特权{ -->
    <div id="J_gamePrivilege"></div>
    <style>
    #J_gamePrivilege{width: 130px;height: 130px;overflow: hidden;position: absolute;top:74px;right: 25px;}
    </style>
    <script>
        jQuery(document).ready(function () {
            jQuery.getScript("http://img1.yxtq.yy.com/duowan/js/yxtq_ad.js");
        });     
    </script>
   <!-- }游戏特权 -->
    <style>
    /*
      基本
    */
    html{background:#E5FDFE url(/s/v1011/dwzq_html.jpg) repeat-x 0 36px;}
    body{min-width:1000px;font:12px/1.5 tahoma,sans-serif;color:#333;background:url(/s/v1011/dwzq_body.jpg) no-repeat 50% 36px;}
    a{text-decoration:none;color:#333;}
    a:hover{text-decoration:underline;}
    /*
      头部元素：背景，颜色，定位
    */
    #dwzq-header{background:url(/s/v1011/dwzq_head.jpg) no-repeat;}
    #dwzq-header .mainnav a{background:url(/s/v1011/bgs_head.png) no-repeat 0 -20px;color:#FFEA00;}
    #dwzq-header .subnav{color:#00237E;}
    #dwzq-header .subnav b{color:#990000;}
    #dwzq-header .subnav a{color:#00237E;}
    #dwzq-header .links a,#dwzq-header .links span{color:#FEEBD9;}
    #dwzq-header .mod-search label{color:#FEEBD9;}
    #dwzq-header .mod-search input{background-color:#E2F8FE;border:1px solid #4CA6D3;color:#005273;}
    #dwzq-header .mod-search a.btn-submit{text-indent:20px;background:url(/s/v1011/bgs_head.png) no-repeat 0 0;color:#FFF;}
    #rolling-news b{color:#FEEBD9;}
    #rolling-news .mod-art{background-color:#E2F8FE;border:1px solid #4CA6D3;}
    #rolling-news li a{color:#005273 ;}
    #game-logo{top:20px;left:65px;}
    /*
      页脚元素：背景，颜色，定位
    */
    #dwzq-footer{background:#312A62 url(/s/v1011/bg_foot_repeat.png) repeat-x 0 0;}
    #dwzq-footer .mod-search{background:url(/s/v1011/bg_foot_search.png) no-repeat;}
    #dwzq-footer .mod-search a.btn-submit{color:#FFFFFF;}
    #dwzq-footer .mod-search a.back-to-top{color:#FFFFFF;}
    #dwzq-footer .game-map li{border-color:#FFF;}
    #dwzq-footer .game-map li b{color:#EBE5DD;}
    #dwzq-footer .game-map li a{color:#EBE5DD;}
    #dwzq-footer .friend-link{background-color:#403C87;}
    #dwzq-footer .bd{color:#DCD7FF;}
    #dwzq-footer .friend-link b{color:#FFFFFF;}
    #dwzq-footer .friend-link a{color:#DCD7FF;}
    #footer{color:#BDABDF;}
    #footer a{color:#BDABDF;}
    </style>
    <style>
    #game-entrance{display:none!important}
    </style>
</div>