<div id="aside" class="g-2-2">

    <!-- 游戏专题{ -->
    <div class="box m-newsbox m-gamecopy">
        <div class="box-hd">
            <i class="icon"></i>
            <h3 class="title">游戏专题</h3>
        </div>
        <div class="box-bd">
            <ul class="mod-pic">
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/133x63" alt="">
                    <em>我们史小鹏u影</em>
                </a></li>
            </ul>
               
        </div>
    </div>
    <!-- }游戏专题 -->
    <div class="blank10"></div>

    <!-- 游戏截图{ -->
    <div class="box m-newsbox m-gameshotcut">
        <div class="box-hd">
            <i class="icon"></i>
            <h3 class="title">游戏截图</h3>
            <div class="act">
                <a class="more" href="#">更多&raquo;</a>
            </div>
        </div>
        <div class="box-bd">
            <ul class="mod-pic">
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/126x86" alt="">
                    <em>独家字幕：新英雄炸弹小子吉格斯官方教学</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/126x86" alt="">
                    <em>独家字幕：新英雄炸弹小子吉格斯官方教学</em>
                </a></li>
                <li><a title="title" href="#">
                    <img src="http://art.yypm.com/126x86" alt="">
                    <em>独家字幕：新英雄炸弹小子吉格斯官方教学</em>
                </a></li>
            </ul>
               
        </div>
    </div>
    <!-- }游戏截图 -->
    <div class="blank10"></div>

    <!-- 游戏向导{ -->
    <div class="box m-newsbox m-gameguide">
        <div class="box-hd">
            <i class="icon"></i>
            <h3 class="title">游戏向导</h3>
        </div>
        <div class="box-bd">
            <ul>
                <li><em>快速上手：</em><a href="">基础地图介绍</a><a href="">界面</a><a href="">术语</a><a href="">5V5V5三国大战</a><a href="">10V10逐鹿中原</a></li>
                <li><em>五行技能：</em><a href="">基础地图介绍</a><a href="">界面</a><a href="">术语</a><a href="">5V5V5三国大战</a><a href="">10V10逐鹿中原</a></li>
                <li><em>天命英雄：</em><a href="">基础地图介绍</a><a href="">界面</a><a href="">术语</a><a href="">5V5V5三国大战</a><a href="">10V10逐鹿中原</a></li>
                <li><em>天命英雄：</em><a href="">基础地图介绍</a><a href="">界面</a><a href="">术语</a><a href="">5V5V5三国大战</a><a href="">10V10逐鹿中原</a></li>
            </ul>
        </div>
    </div>
    <!-- }游戏向导 -->
    <div class="blank10"></div>

    <!-- 论坛热贴{ -->
    <div class="box m-newsbox m-gamebbs">
        <div class="box-hd">
            <i class="icon"></i>
            <h3 class="title">论坛热贴</h3>
            <div class="act">
                <a class="more" href="#">更多&raquo;</a>
            </div>
        </div>
        <div class="box-bd">
            <ul class="list-article">
                <li><i></i><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                <li><i></i><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                <li><i></i><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                <li><i></i><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                <li><i></i><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
            </ul>
        </div>
    </div>
    <!-- }论坛热贴 -->
    <div class="blank10"></div>

    <!-- 游戏服务器{ -->
    <div class="box m-newsbox m-gameserver">
        <div class="box-hd">
            <i class="icon"></i>
            <h3 class="title">游戏服务器</h3>
        </div>
        <div class="box-bd">
            <ul>
                <li><em>【电信】</em><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a></li>
                <li><em>【网通】</em><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a></li>
                <li><em>【电信】</em><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a></li>
                <li><em>【网通】</em><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a></li>
                <li><em>【电信】</em><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">鹰愁涧</a><a href="">天王殿</a><a href="">天王殿</a></li>
            </ul>
        </div>
    </div>
    <!-- }游戏服务器 -->
    
</div>