<div id="top-slider" class="mod-slider fl mb10">
    <div class="mod-slider-img J_box">
        <ul class="J_content">
            <li style="display: list-item; opacity: 0.3380412909009253;"><a href="/1011/154951278663.html"><img alt="泡泡战士韩服更新中秋版本 胖墩首登场" src="http://pic3.duowan.com/bf/1007/143467432772/143467495143.jpg"></a></li>
            <li style="display: none;"><a href="/1011/154623576040.html"><img alt="网二狂剑一剑风云山海情" src="http://pic3.duowan.com/zx/1011/154608431005/154608446631.jpg"></a></li>
            <li style="display: none;"><a href="/1011/154623430529.html"><img alt="C9精美壁纸（10）" src="推广ID发布/获取系统上线啦"></a></li>
        </ul>
    </div> 
    <ul class="mod-slider-title J_nav">
        <li class="hover"><b>1</b><a href="/1011/154951278663.html">泡泡战士韩服更新中秋版本 胖墩首登场</a></li>
        <li class=""><b>2</b><a href="/1011/154623576040.html">网二狂剑一剑风云山海情</a></li>
        <li class=""><b>3</b><a href="/1011/154623430529.html">C9精美壁纸（10）</a></li>
    </ul>
    <script>
    KISSDW.switchable("#top-slider", {event: "hover", effect: "fade"});
    </script>   
</div>