<div id="news" class="g-c11 fr">
    <div class="top-news center">
        <a href="/1407/269537071124.html" title="《幻想神域》7月18日更新维护 公测版本启航" target="_blank">《幻想神域》7月18日更新维护 公测版</a>    
    </div>
    <div class="sub-news center"><a href="http://ffo.duowan.com/1407/269471975848.html">[职业技能大全]</a><a href="http://ffo.duowan.com/1407/269513820639.html">[快速升级攻略]</a><a href="http://bbs.duowan.com/thread-39901592-1-1.html"><font color="blue">[领取多玩礼包]</font></a></div>
    <div class="top-news center">
        <a href="/1407/269537071124.html" title="《幻想神域》7月18日更新维护 公测版本启航" target="_blank">《幻想神域》7月18日更新维护 公测版</a>    
    </div>
    <div class="sub-news center"><a href="http://ffo.duowan.com/1407/269471975848.html">[职业技能大全]</a><a href="http://ffo.duowan.com/1407/269513820639.html">[快速升级攻略]</a><a href="http://bbs.duowan.com/thread-39901592-1-1.html"><font color="blue">[领取多玩礼包]</font></a></div>
    <!-- 新闻列表{ -->
    <div id="news-list" class="mod-tab">
        <div class="mod-tab-hd">
            <ul class="tab-nav J_nav">
                <li class="hover">最新新闻</li>
                <li>更多新闻</li>
            </ul>
            <a class="more" href="http://dwzq1.duowan.com/1011/m_154631870822.html">»更多</a>
        </div>
        <div class="mod-tab-bd J_box">
            <ul class="J_content">
                <li>
                    <ul class="list-article">
                        <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                        <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                        <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                        <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                        <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                    </ul>
                    <ul class="list-article">
                        <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                        <li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                        <li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                        <li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                        <li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                    </ul>
                    <ul class="list-article">
                        <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                        <li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                        <li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                        <li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                        <li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                    </ul>
                </li>
                <li class="hide">
                    <ul class="list-article">
                        <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                        <li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                        <li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                        <li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                        <li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                    </ul>
                    <ul class="list-article">
                        <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                        <li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                        <li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                        <li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                        <li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                    </ul>
                    <ul class="list-article">
                        <li><i></i><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                        <li><i></i><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                        <li><i></i><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                        <li><i></i><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                        <li><i></i><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script>
    KISSDW.tab("#news-list", "hover");
    </script>
    <!-- }新闻列表 -->
</div>