//
// $Date: 2014-01-14 14:02:52 +0800 (Tue, 14 Jan 2014) $
//
// 优化字体渲染
// http://www.feeldesignstudio.com/2013/05/text-rendering
html {
	text-rendering: optimizelegibility;
}
body {
	word-wrap: break-word;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
i, em {
	font-style: normal;
}
ol, ul, menu {
	list-style: none outside none;
}
fieldset,iframe,abbr,acronym {
	border: 0 none;
}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, hr,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0;
}
iframe {
	display: block;
}
textarea {
	resize: vertical;
}
// IE bug fixed: th 不继承 text-align
th {
    text-align: inherit;
}
// 修正表单元素并不继承父级 font 的问题
body, button, input, select, textarea {
    font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
%clearfix{
	*zoom: 1;
	&:before,
	&:after{
		content: "";
		display: table;
		line-height: 0;
	}
	&:after{
		clear: both;
	}
}
// 清除浮动
.clearfix {
	@extend %clearfix;
}
// 空白占位层
$blank-step: 5;
%blank {
	display: block;
	clear: both;
	overflow: hidden;
}
@for $i from 1 through 4 {
	.blank#{$blank-step*$i} {
		@extend %blank;
	}
	.blank#{$blank-step*$i} {
		height: #{$blank-step*$i}px;
	}
}
// 常用类
.fr {
	float: right;
	_display: inline;
}
.fl {
	float: left;
	_display: inline;
}
.show {
	display: block;
}
.hide {
	display: none;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.left {
	text-align: left !important;
}
.right {
	text-align: right !important;
}
.center {
	text-align: center !important;
}
.indent {
	text-indent: 2em;
}
.highlight {
	color: #F30 !important;
}
.important {
	font-weight: 700 !important;
}
.no-border {
	border: 0 none !important;
}
.transparent {
	opacity: .0;
	filter: alpha(opacity=0);
}
