<!doctype html>
<html>
<head>
    <% include partial/head %>
</head>
<body>
<!-- 站点导航{ -->
<script type="text/javascript" src="http://www.duowan.com/public/s/i/navbar/navbar.js?20120215"></script>
<!-- }站点导航 -->


    <!-- 专题主体{ -->

        <div id="doc">
            <!-- 专区头部{ -->
            <% include  partial/header %>
            <!-- }专区头部 -->


            <!-- 专区主要内容{ -->
            <div class="layout">
                <div class="blank10 layout-hd"></div>
                <!-- main{ -->
                <div id="main" class="g-2-1">
                
                    <!-- 标签列表{ -->
                    <div id="list-page" class="box m-newsbox m-taglist-ctn">
                        <div class="box-hd">
                            <i class="icon"></i>
                            <!-- 面包屑{ -->
                            <div class="mod-crumbs">
                                <div class="mod-crumbs-bd">
                                    <b>您的当前位置：</b><a href="http://www.duowan.com/" target="_blank">多玩首页</a><span>&gt;</span><a href="http://cod.duowan.com/" target="_blank">CODOL专区</a><span>&gt;</span><a>游戏视频</a>
                                </div>
                            </div>
                            <!-- }面包屑 -->
                        </div>
                        <div class="box-bd">

                            <!-- 标签列表{ -->
                            <div class="m-taglist">
                                <div class="m-taglist-hd">
                                    <h3>英雄攻略</h3>
                                </div>
                                <div class="m-taglist-bd">
                                    
                                    <!-- 图标列表{ -->
                                    <ul class="mod-pic">
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>IEM总决赛B组比赛视频M5 vs TSM</em>
                                        </a></li>
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>IEM全球总决赛第一日比赛日现场集锦</em>
                                        </a></li>
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>悲剧镜头合集：闪现撞墙什么的最讨厌了</em>
                                        </a></li>
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>TT解说：2300分段阿卡丽第一视角教学</em>
                                        </a></li>
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>IEM总决赛B组比赛视频M5 vs TSM</em>
                                        </a></li>
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>IEM全球总决赛第一日比赛日现场集锦</em>
                                        </a></li>
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>悲剧镜头合集：闪现撞墙什么的最讨厌了</em>
                                        </a></li>
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>TT解说：2300分段阿卡丽第一视角教学</em>
                                        </a></li>
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>IEM总决赛B组比赛视频M5 vs TSM</em>
                                        </a></li>
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>IEM全球总决赛第一日比赛日现场集锦</em>
                                        </a></li>
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>悲剧镜头合集：闪现撞墙什么的最讨厌了</em>
                                        </a></li>
                                        <li><a title="title" href="#">
                                            <img src="http://art.yypm.com/126x86" alt="">
                                            <em>TT解说：2300分段阿卡丽第一视角教学</em>
                                        </a></li>
                                    </ul>
                                       
                                    <!-- }图标列表 -->

                                    <!-- 页码{ -->
                                    <div id="pageNum"><span id="pageNow"><a target="_self" href="#">1</a></span><span><a target="_self" href="m_154631870822_2.html">2</a></span><span><a target="_self" href="m_154631870822_3.html">3</a></span><span><a target="_self" href="m_154631870822_4.html">4</a></span><span><a target="_self" href="m_154631870822_5.html">5</a></span><span><a target="_self" href="m_154631870822_6.html">6</a></span><span><a target="_self" href="m_154631870822_7.html">7</a></span><span><a target="_self" href="m_154631870822_8.html">8</a></span><span><a target="_self" href="m_154631870822_9.html">9</a></span><span><a target="_self" href="m_154631870822_2.html">下一页</a></span></div>
                                    <!-- }页码 -->
                                </div>
                            </div>
                            <!-- }标签列表 -->

                        </div>
                    </div>
                    <!-- }标签列表 -->

                </div>
                <!-- }main -->
                <!-- aside{ -->
                <% include partial/page-aside %>
                <!-- }aside -->
                <div class="blank10 layout-ft"></div>
            </div>
            <!-- }专区主要内容 -->

        </div>

    <!-- }专题主体 -->


    <div class="blank10"></div>
    <div class="blank10"></div>
    <!-- 页脚{ -->
    <% include partial/footer %>
    <!-- }页脚 -->

</body>
</html>
