<!doctype html>
<html>
<head>
    <% include partial/head %>
</head>
<body>
<!-- 站点导航{ -->
<script type="text/javascript" src="http://www.duowan.com/public/s/i/navbar/navbar.js?20120215"></script>
<!-- }站点导航 -->


    <!-- 专题主体{ -->

        <div id="doc">
            <!-- 专区头部{ -->
            <% include  partial/header %>
            <!-- }专区头部 -->


            <!-- 专区主要内容{ -->
            <div class="layout">
                <div class="blank10 layout-hd"></div>
                <!-- main{ -->
                <div id="main" class="g-2-1">
                    
                </div>
                <!-- }main -->
                <!-- aside{ -->
                <% include partial/index-aside %>
                <!-- }aside -->
                <div class="blank10 layout-ft"></div>
            </div>
            <!-- }专区主要内容 -->

        </div>

    <!-- }专题主体 -->


    <div class="blank10"></div>
    <div class="blank10"></div>
    <!-- 页脚{ -->
    <% include partial/footer %>
    <!-- }页脚 -->

</body>
</html>
