<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="多玩游戏">
    <meta name="description" content="">
    <title> 一线专区模板 </title>
    <link href="css/global.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <script src="http://assets.dwstatic.com/common/js/jquery.js"></script>
    <script src="http://assets.dwstatic.com/b=lego/2.0.0/js&f=lego.switchable.js"></script>
</head>
<body>
    <!-- 专区{ -->
    <div class="ZQ" id="ZQ">
        <% include partial/duowan-nav %>
        <!-- 专区导航{ -->
        <% include partial/zq-head %>
        <!-- }专区导航 -->
        <!-- 专区内容{ -->
        <div class="ZQ__body">
        	<div class="ZQ-row">
	        	<!-- 列表内容{ -->
	        	<div class="ZQ-71-51">
	        		<div class="ZQ-page ZQ-page--news">
                        <!-- 面包屑导航{ -->
                        <div class="mod-crumbs">
                            <a class="back-to-index" href="#"><i></i>多玩首页</a><span class="arrow">»</span><a href="/">某专区</a><span class="arrow">»</span><b>某文章标题</b>
                        </div>
                        <!-- }面包屑导航 -->
                        <ul class="m-list">
                            <li><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                            <li><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                            <li><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                            <li><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                            <li><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                            <li><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                            <li><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                            <li><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                            <li><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                            <li><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                            <li><span class="date">01.02</span><a href="#" title="">韩国玩家星际争霸高达作品死神来了</a></li>
                            <li><span class="date">11.20</span><a href="#" title="">转虫族给力啊 星际猪出品趣味星际2漫画</a></li>
                            <li><span class="date">11.17</span><a href="#" title="">首位GSL美女选手参赛照片 震撼护士装</a></li>
                            <li><span class="date">11.14</span><a href="#" title="">韩国GSL第三季1500人预选赛首日现场图赏</a></li>
                            <li><span class="date">11.13</span><a href="#" title="">国内画师leon19星际争霸2美术作品欣赏</a></li>
                        </ul>
                        <!-- 页码{ -->
                        <div class="mod-page">
                            <a href="#" rel="prev" title="上一页">上一页</a>
                            <a href="#" title="已经是当前页" class="current">1</a>
                            <a href="#" title="第2页">2</a>
                            <a href="#" title="第3页">3</a>
                            <a href="#" title="第4页">4</a>
                            <a href="#" title="第5页">5</a>
                            <a href="#" title="第16页">16</a>
                            <a href="#" title="第17页">17</a>
                            <a href="#" title="第18页">18</a>
                            <a href="#" title="第19页">19</a>
                            <a href="#" rel="next" title="下一页">下一页</a>
                        </div>
                        <!-- }页码 -->

                    </div>
	        	</div>
	        	<!-- }列表内容 -->
	        	<!-- 内页侧边栏{ -->
				<div class="ZQ-71-19">
					<% include partial/page-aside %>
				</div>
	        	<!-- }内页侧边栏 -->
        	</div>
        </div>
        <!-- }专区内容 -->

        <!-- 专区底部{ -->
        <% include partial/zq-foot %>
        <!-- }专区底部 -->
    </div>
    <!-- }专区 -->
</body>
</html>
