// CSS Sprites切片样式
%back {
    width: 11px;
    height: 6px;
    background-image: url(../img/slice/back.png);
    background-repeat: no-repeat;
}
%hot {
    width: 15px;
    height: 13px;
    background-image: url(../img/slice/hot.png);
    background-repeat: no-repeat;
}
%i_normal {
    width: 12px;
    height: 12px;
    background-image: url(../img/slice/i_normal.png);
    background-repeat: no-repeat;
}
%i_selected {
    width: 12px;
    height: 12px;
    background-image: url(../img/slice/i_selected.png);
    background-repeat: no-repeat;
}
%icon-backtoTop-hover {
    width: 48px;
    height: 48px;
    background-image: url(../img/slice/icon-backtoTop-hover.png);
    background-repeat: no-repeat;
}
%icon-backtoTop {
    width: 48px;
    height: 48px;
    background-image: url(../img/slice/icon-backtoTop.png);
    background-repeat: no-repeat;
}
%icon-down {
    width: 16px;
    height: 16px;
    background-image: url(../img/slice/icon-down.png);
    background-repeat: no-repeat;
}
%icon-fav {
    width: 16px;
    height: 16px;
    background-image: url(../img/slice/icon-fav.png);
    background-repeat: no-repeat;
}
%icon-footlogo {
    width: 178px;
    height: 44px;
    background-image: url(../img/slice/icon-footlogo.png);
    background-repeat: no-repeat;
}
%icon-home {
    width: 16px;
    height: 14px;
    background-image: url(../img/slice/icon-home.png);
    background-repeat: no-repeat;
}
%icon-minus {
    width: 15px;
    height: 15px;
    background-image: url(../img/slice/icon-minus.png);
    background-repeat: no-repeat;
}
%icon-more {
    width: 9px;
    height: 9px;
    background-image: url(../img/slice/icon-more.png);
    background-repeat: no-repeat;
}
%icon-plus {
    width: 15px;
    height: 15px;
    background-image: url(../img/slice/icon-plus.png);
    background-repeat: no-repeat;
}
%icon-search {
    width: 18px;
    height: 18px;
    background-image: url(../img/slice/icon-search.png);
    background-repeat: no-repeat;
}
%icon-search1 {
    width: 18px;
    height: 18px;
    background-image: url(../img/slice/icon-search1.png);
    background-repeat: no-repeat;
}
%icon-video {
    width: 16px;
    height: 16px;
    background-image: url(../img/slice/icon-video.png);
    background-repeat: no-repeat;
}
%new {
    width: 15px;
    height: 13px;
    background-image: url(../img/slice/new.png);
    background-repeat: no-repeat;
}
