@charset "UTF-8";

@import "lego/lego";

/* 定义专区通用样式变量 */
//@import "mod/variables";
/* 切片样式 */
@import "slice"; 
/* 通用样式 */
@import "mod/pagemod";
@import "mod/layout";

html {
    overflow-y: scroll;
    overflow-x: hidden;
}
body {
    font: #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $base-color;
    font-family: "Microsoft YaHei", sans-serif;
    a {
        text-decoration: none;
        color: nth($base-link-color,1);
        &:hover {
            text-decoration: underline;
            color: nth($base-link-color,2);
        }
    }
}
//
:root em,:root span{filter:none\9}/*for IE9*/

/* 首页样式 */
@import "mod/index";

@import "mod/article";
